<%= form_for(@db_step_three) do |f| %>
  <noscript>
  <% if @db_step_three.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_step_three.errors.count, "error") %> prohibited this db_step_three from being saved:</h2>

      <ul>
      <% @db_step_three.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </noscript>

<div class="leftSideLayout">
  <table id="dealBuilder">
    <tr><td class="dealBuilderLabelCBox"><b><%= f.label 'Offer Standard Restrictions' %></b></td><td></td></tr>
           <% StandardRestriction.all.each do |s_r| %>
    <tr><td class="dealBuilderFieldCBox"><%= check_box_tag  'db_step_three[standard_restriction_ids][]',s_r.id,@db_step_three.standard_restrictions.include?(s_r) %>
           <%= s_r.description %></td></tr>
           <% end %>
  <tr><td class="dealBuilderLabelCBox"><b><%= f.label 'Industry Specific Restrictions' %></b></td><td></td></tr>
         <% Industry.find_by_title(DbStepOne.find(DealBuilder.find_by_id(params[:db_id]).db_step_one).industry).industry_restrictions.each do |i_r| %>
  <tr><td class="dealBuilderFieldCBox"><%= check_box_tag  'db_step_three[industry_restriction_ids][]',i_r.id,@db_step_three.industry_restrictions.include?(i_r) %>
         <%= i_r.description %></td></tr>
         <% end %>
  <tr>
    <td class="dealBuilderField"><%= f.text_area :optional_restriction, :size => "30x5", :placeholder => "Optional Restrictions...."%></td>
  </tr>
  </table>
  <div class="actions">
    <%= f.hidden_field :deal_builder_id, :value => params[:db_id]%>
    <%= f.submit 'Save and Continue' %>
  </div>
</div>
<div class="rightSideLayout">
  <table class="stepThreeTips">
    <tr id="standard_restrictions"> 
      <td><%=FormTip.find_by_title("standard restrictions").description%></td>
    </tr>
    <tr id="industry_restrictions"> 
      <td><%=FormTip.find_by_title("industry restrictions").description%></td>
    </tr>
    <tr id="optional_restrictions"> 
      <td><%=FormTip.find_by_title("optional restrictions").description%></td>
    </tr>
  
  </table>
</div>
<div class="progressBar">
  <div class="previousProgress">
    <%= image_tag("/images/theme/bluefilledinCircle.png") %>
    <%= image_tag("/images/theme/bluefilledinCircle.png") %>
  </div>
  <div class="currentProgress">
    <%= image_tag("/images/theme/blueBorderonlyCircle.png") %>
  </div>
  <div class="currentGreaterThan">
    <%= image_tag("/images/theme/blueGreaterThan.png") %>
  </div>
  <div class="forwardProgress">
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
  </div>
</div>
<% end %>
