<%= form_for(@db_step_three) do |f| %>
  <noscript>
  <% if @db_step_three.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_step_three.errors.count, "error") %> prohibited this db_step_three from being saved:</h2>

      <ul>
      <% @db_step_three.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </noscript>

<div class="leftSideLayout">
  <table id="dealBuilder">
    <tr><td class="dealBuilderLabelCBox" id='standard_restriction_label'>Offer Standard Restrictions:</td></tr>
           <% StandardRestriction.all.each do |s_r| %>
    <% if @edit_page %>
    <tr><td class="dealBuilderFieldCBox" style='width:370px;'><%= check_box_tag  'db_step_three[standard_restriction_ids][]',s_r.id,@db_step_three.standard_restrictions.include?(s_r) %>
    <% else %>
    <tr><td class="dealBuilderFieldCBox" style='width:370px;'><%= check_box_tag  'db_step_three[standard_restriction_ids][]',s_r.id,true %>
    <% end %>
           <%= s_r.description %></td></tr>
           <% end %>
  <tr>
    <td class='dealBuilderField' id='voucher_length_label'>Offer Voucher Length:  <%= select :db_step_three,:voucher_length,
      ['1','2','3','4','5','6','7','8','9','10','11','12'],{:prompt => 'Months'} %></td>
    <td></td>
  </tr>
  <tr>
    <td class="dealBuilderField"><%= f.text_area :optional_restriction, :size => "30x5", :placeholder => "Optional Restrictions...."%></td>
  </tr>
  </table>
    <% unless @deal_builder_id %>
      <%= f.hidden_field :deal_builder_id, :value => params[:db_id]%>
      <div class="blueGreenLink" style="display:inline;float:left;">
      <%= link_to 'Back', edit_db_step_two_path(DbStepTwo.find_by_deal_builder_id(params[:db_id]),:db_id => params[:db_id]) %>
      </div>
    <% else %>
      <%= f.hidden_field :deal_builder_id, :value => @deal_builder_id%>
      <div class="blueGreenLink" style="display:inline;float:left;">
      <%= link_to 'Back', edit_db_step_two_path(DbStepTwo.find_by_deal_builder_id(@deal_builder_id),:db_id => @deal_builder_id) %>
      </div>
    <% end %>
  <div class="actions" style="float:right;">
    <%= f.submit 'Forward' %>
  </div>
</div>
<div class="rightSideLayout" style='display:none'>
  <table class="stepThreeTips">
    <tr id="standard_restrictions" style='display:none'> 
      <td><%=FormTip.find_by_title("standard restrictions").description%></td>
    </tr>
    <tr id="voucher_length" style='display:none'> 
      <td><%=FormTip.find_by_title("voucher length").description%></td>
    </tr>
    <tr id="optional_restrictions" style='display:none'> 
      <td><%=FormTip.find_by_title("optional restrictions").description%></td>
    </tr>
  
  </table>
</div>
<div class="progressBar">
  <div class="previousProgress">
    <%= image_tag("/images/theme/bluefilledinCircle.png") %>
    <%= image_tag("/images/theme/bluefilledinCircle.png") %>
  </div>
  <div class="currentProgress">
    <%= image_tag("/images/theme/blueBorderonlyCircle.png") %>
  </div>
  <div class="forwardProgress">
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
  </div>
</div>
<% end %>
