<h1>Listing db_step_threes</h1>

<table>
  <tr>
    <th>Optional restriction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @db_step_threes.each do |db_step_three| %>
  <tr>
    <td><%= db_step_three.optional_restriction %></td>
    <td><%= link_to 'Show', db_step_three %></td>
    <td><%= link_to 'Edit', edit_db_step_three_path(db_step_three) %></td>
    <td><%= link_to 'Destroy', db_step_three, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Db step three', new_db_step_three_path %>
