<%= form_for(@facebook_share_code) do |f| %>
  <% if @facebook_share_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facebook_share_code.errors.count, "error") %> prohibited this facebook_share_code from being saved:</h2>

      <ul>
      <% @facebook_share_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :db_publish_id %><br />
    <%= f.text_field :db_publish_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
