<h1>Listing facebook_share_codes</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Db publish</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facebook_share_codes.each do |facebook_share_code| %>
  <tr>
    <td><%= facebook_share_code.code %></td>
    <td><%= facebook_share_code.db_publish_id %></td>
    <td><%= link_to 'Show', facebook_share_code %></td>
    <td><%= link_to 'Edit', edit_facebook_share_code_path(facebook_share_code) %></td>
    <td><%= link_to 'Destroy', facebook_share_code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facebook share code', new_facebook_share_code_path %>
