<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="overallService">
  <div class="firstServicePage">
  <div class="entry">
    <%= f.label :deal_site_name, 'Name of Service' %>
    <%= f.text_field :deal_site_name %>
  </div>
  <br />
  <div class="entry">
    <%= f.label :contact_name, 'Your Name' %>
    <%= f.text_field :contact_name %>
  </div>
  <br />
  <div class="entry">
    <%= f.label :contact_email, 'Email' %>
    <%= f.text_field :contact_email %>
  </div>
  <br />
  <div class="entry">
    <%= f.label :contact_phone, 'Phone Number' %>
    <%= f.text_field :contact_phone,:size =>17, :maxlength => 10, :placeholder => 'Area code and number' %>
    <br /> 
  </div>
  <br />
  <div class="entry">
    <%= f.label :product_name, 'Name of Product' %>
    <%= f.text_field :product_name %>
  </div>
  <br />
  <div class="entry">
    <%= f.label :locations_served, 'Locations Served' %>
    <%= f.select :locations_served, Service::LOCATIONS,
                        :prompt => 'Select a Location' %>
  </div>
  <br />
  <div class="entry">
    <%= f.label :industries_served, 'Industries Served' %>
    <%= f.select :industries_served, Industry.all,
                        :prompt => 'Select an Industry' %>
  </div>
  <br />
  </form>
  </div>

  <div class="secondServicePage">
  <div class="entry">
    <%= f.label 'Self-serve product?' %>
    <%= f.radio_button :self_serve_product, 'Yes' %>
    <%= f.label 'Yes' %>
    <%= f.radio_button :self_serve_product, 'No' %>
    <%= f.label 'No' %>
  </div>
  <div class="entry">
    <%= f.label :minimum_required_discount %>
    <%= f.text_field :minimum_required_discount %>
  </div>
  <div class="entry">
    <%= f.label :revenue_share %>
    <%= f.text_area :revenue_share, :size => "40x3" %>
  </div>
  <div class="entry">
    <%= f.label :minimum_number_of_vouchers %>
    <%= f.text_field :minimum_number_of_vouchers %>
  </div>
  <div class="entry">
    <%= f.label :payment_terms %>
    <%= f.text_area :payment_terms, :size => "40x3" %>
  </div>
  </div>

  <div class="thirdServicePage">
  <div class="entry">
    <%= f.label :time_length_standard_promo %>
    <%= f.text_field :time_length_standard_promo %>
  </div>
  <div class="entry">
    <%= f.label :quantity_credit_card_fee %>
    <%= f.text_field :quantity_credit_card_fee %>
  </div>
  <div class="entry">
    <%= f.label :payer_credit_card_fee %>
    <%= f.text_area :payer_credit_card_fee, :size => "40x3" %>
  </div>
  <div class="entry">
    <%= f.label :restrictions %>
    <%= f.text_area :restrictions, :size => "40x3" %>
  </div>
  <div class="entry">
    <%= f.label :additional_info %>
    <%= f.text_area :additional_info, :size => "40x3" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>

  <div id="nextServicePage">
    <h1>Next</h1>
  </div>
  <div id="prevServicePage">
    <h1>Previous</h1>
  </div>
  </div>

<% end %>
