<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="overallService">
  <div class="firstServicePage">
  <div class="entry">
    <b><%= f.label :deal_site_name, 'Name of Service' %></b>
    <%= f.text_field :deal_site_name %>
  </div>
  <br />
  <div class="entry">
    <b><%= f.label :contact_name, 'Your Name' %></b>
    <%= f.text_field :contact_name %>
  </div>
  <br />
  <div class="entry">
    <b><%= f.label :contact_email, 'Email' %></b>
    <%= f.text_field :contact_email %>
  </div>
  <br />
  <div class="entry">
    <b><%= f.label :contact_phone, 'Phone Number' %></b>
    <%= f.text_field :contact_phone,:size =>17, :maxlength => 10, :placeholder => 'Area code and number' %>
    <br /> 
  </div>
  <br />
  <div class="entry">
    <b><%= f.label :product_name, 'Name of Product' %></b>
    <%= f.text_field :product_name %>
  </div>
  <br />
  <div class="entry">
    <b><%= f.label :locations_served %></b>
    <%= f.select :locations_served, Service::LOCATIONS,
                        :prompt => 'Select a Location' %>
  </div>
  <br />
  <div class="entry">
    <b><%= f.label :industries_served %></b>
    <%= f.select :industries_served, Industry.all,
                        :prompt => 'Select an Industry' %>
  </div>
  <br />
  </div>

  <div class="secondServicePage">
  <div class="entry">
    <b><%= f.label 'Self-serve product?' %></b>
    <%= f.radio_button :self_serve_product, 'Yes' %>
    <b><%= f.label 'Yes' %></b>
    <%= f.radio_button :self_serve_product, 'No' %>
    <b><%= f.label 'No' %></b>
  </div>
  <div class="entry">
    <b><%= f.label :minimum_required_discount %></b>
    <%= f.text_field :minimum_required_discount %>
  </div>
  <div class="entry">
    <b><%= f.label :revenue_share %></b>
    <%= f.text_area :revenue_share, :size => "40x3" %>
  </div>
  <div class="entry">
    <b><%= f.label :minimum_number_of_vouchers %></b>
    <%= f.text_field :minimum_number_of_vouchers %>
  </div>
  <div class="entry">
    <b><%= f.label :payment_terms %></b>
    <%= f.text_area :payment_terms, :size => "40x3" %>
  </div>
  </div>

  <div class="thirdServicePage">
  <div class="entry">
    <b><%= f.label :time_length_standard_promo %></b>
    <%= f.text_field :time_length_standard_promo %>
  </div>
  <div class="entry">
    <b><%= f.label :quantity_credit_card_fee %></b>
    <%= f.text_field :quantity_credit_card_fee %>
  </div>
  <div class="entry">
    <b><%= f.label :payer_credit_card_fee %></b>
    <%= f.text_area :payer_credit_card_fee, :size => "40x3" %>
  </div>
  <div class="entry">
    <b><%= f.label :restrictions %></b>
    <%= f.text_area :restrictions, :size => "40x3" %>
  </div>
  <div class="entry">
    <b><%= f.label :additional_info %></b>
    <%= f.text_area :additional_info, :size => "40x3" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>

  <p id="nextServicePage" class="ServicePage">
  NEXT
  </p>
  <p id="prevServicePage" class="ServicePage">
  PREV
  </p>
  </div>

<% end %>
