<h1>Listing services</h1>

<table>
  <tr>
    <th>Deal site name</th>
    <th>Contact name</th>
    <th>Contact email</th>
    <th>Contact phone</th>
    <th>Product name</th>
    <th>Locations served</th>
    <th>Industries served</th>
    <th>Self serve product</th>
    <th>Minimum required discount</th>
    <th>Revenue share</th>
    <th>Minimum number of vouchers</th>
    <th>Payment terms</th>
    <th>Time length standard promo</th>
    <th>Quantity credit card fee</th>
    <th>Payer credit card fee</th>
    <th>Restrictions</th>
    <th>Additional info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.deal_site_name %></td>
    <td><%= service.contact_name %></td>
    <td><%= service.contact_email %></td>
    <td><%= service.contact_phone %></td>
    <td><%= service.product_name %></td>
    <td><%= service.locations_served %></td>
    <td><%= service.industries_served %></td>
    <td><%= service.self_serve_product %></td>
    <td><%= service.minimum_required_discount %></td>
    <td><%= service.revenue_share %></td>
    <td><%= service.minimum_number_of_vouchers %></td>
    <td><%= service.payment_terms %></td>
    <td><%= service.time_length_standard_promo %></td>
    <td><%= service.quantity_credit_card_fee %></td>
    <td><%= service.payer_credit_card_fee %></td>
    <td><%= service.restrictions %></td>
    <td><%= service.additional_info %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
