<p id="notice"><%= notice %></p>

<p>
  <b>Deal site name:</b>
  <%= @service.deal_site_name %>
</p>

<p>
  <b>Contact name:</b>
  <%= @service.contact_name %>
</p>

<p>
  <b>Contact email:</b>
  <%= @service.contact_email %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @service.contact_phone %>
</p>

<p>
  <b>Product name:</b>
  <%= @service.product_name %>
</p>

<p>
  <b>Locations served:</b>
  <%= @service.locations_served %>
</p>

<p>
  <b>Industries served:</b>
  <%= @service.industries_served %>
</p>

<p>
  <b>Self serve product:</b>
  <%= @service.self_serve_product %>
</p>

<p>
  <b>Minimum required discount:</b>
  <%= @service.minimum_required_discount %>
</p>

<p>
  <b>Revenue share:</b>
  <%= @service.revenue_share %>
</p>

<p>
  <b>Minimum number of vouchers:</b>
  <%= @service.minimum_number_of_vouchers %>
</p>

<p>
  <b>Payment terms:</b>
  <%= @service.payment_terms %>
</p>

<p>
  <b>Time length standard promo:</b>
  <%= @service.time_length_standard_promo %>
</p>

<p>
  <b>Quantity credit card fee:</b>
  <%= @service.quantity_credit_card_fee %>
</p>

<p>
  <b>Payer credit card fee:</b>
  <%= @service.payer_credit_card_fee %>
</p>

<p>
  <b>Restrictions:</b>
  <%= @service.restrictions %>
</p>

<p>
  <b>Additional info:</b>
  <%= @service.additional_info %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
