<p id="notice"><%= notice %></p>

  <h1><%= image_tag @business.logo.url(:thumb) %><%= @business.name %> <%= link_to 'Edit This Business', edit_business_path(@business) %></h1>

  <div>Description: <%= @business.description %></div>
  <div>Industry: <%= @business.industry %></div>
  <div>Website: <%= @business.website %></div>
  <div>Location: <%= @business.location %></div>
  <div>Phone Number: <%= @business.phone_number %></div>
  <div>Email: <%= @business.email %> </div>
  <div>Initial: <%= @business.initial_password %> 
     <%= form_tag do %>
       <%= submit_tag 'Reset Password', :confirm => 'Are you sure you wish to reset
       this Businesses password?' %>
     <% end %>
  </div>


<h4><%= link_to "Back to Admin CC" ,admins_path %></h4>
<hr>
<h3> Created Deals for this Business (<%= @createdOffers.count %>) </h3>
<% @createdOffers.each do |o| %>
  <div>
  <%= link_to o.headline, o %> <%= link_to 'Start Offer', start_offer_offer_path(o), :method => :delete %>
  </div>
<% end %>
<hr>
<h3> Live Offers for this Business (<%= @liveOffers.count %>) </h3>
<% @liveOffers.each do |o| %>
  <div>
  <%= link_to o.headline, o %> <%= link_to 'Stop Offer', stop_offer_offer_path(o), :method => :delete %>
  </div>
<% end %>
<hr>
<h3> Finished Offers for this Business (<%= @finishedOffers.count %>) </h3>
<% @finishedOffers.each do |o| %>
  <div>
  <%= link_to o.headline, o %> 
  </div>
<% end %>
<hr>

