<% if flash[:alert] %>
   <p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_tag do %>   
  <div id="box">
      <div class="login_fields">
      <%= text_field_tag :email, params[:email], :placeholder => "Email"%>
      <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
      <%= submit_tag 'Login' %>      
      </div>
    <div class="signup">
       <b><%= link_to 'Sign Up', sign_up_index_path %></b>
    </div>
  </div>
<% end %>


