
<%= form_tag do %>   
    <div class='login_box'>
      <div class="login_fields">
        <%= text_field_tag :email, params[:email], :placeholder => "Email"%>
      </div>
      <br />
      <div class="login_fields">
         <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
      </div>
      <br />
      <div id='loginSubmit' style='margin-right:3px;'>
      <%= submit_tag 'LOGIN' %>      
      </div>
      <div style='color:red;'>
        <%= notice %>
      </div>
    <!--<div class="signup" onclick="window.location = '<%= sign_up_index_path %>'">
      SIGN UP
    </div> -->
    
  </div>
<% end %>


