<div class="leftSideLayout">
<h1>Standard Restrictions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @standard_restrictions.each do |standard_restriction| %>
  <tr>
    <td><%= standard_restriction.title %></td>
    <td><%= standard_restriction.description %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="formTipLink"><%= link_to 'Edit', edit_standard_restriction_path(standard_restriction) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="formTipLink"><%= link_to 'Remove', standard_restriction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="blueGreenLink"><%= link_to 'Add Standard restriction', new_standard_restriction_path %></div>
</div>
