<%= content_for :rightlayout do %>
<div class="leftSideLayout">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @standard_restriction.title %>
</p>

<p>
  <b>Description:</b>
  <%= @standard_restriction.description %>
</p>


<%= link_to 'Edit', edit_standard_restriction_path(@standard_restriction) %> |
<%= link_to 'Back', standard_restrictions_path %>
<% end %>
</div>
