<head>
<%= stylesheet_link_tag 'login.css' %>
<%= stylesheet_link_tag 'signup.css' %>

</head>
<body style="background:black;">
 <div id="layoutbanner">
         <div class="bannerlogo">
         <%= link_to image_tag("theme/smallbannercroppedlogo.png") , home_path %>
         </div>
         <div class="bannerslogan">
         <%= image_tag("theme/smallbannercroppedslogan.png") %>
         </div>
 </div>
 <div id="content">    
<br /><br /><br />
<br /><br /><br />
      <%= render(:partial => "users/signup",:object => @user) %>
 </div>
</body>
