  Welcome Admin <%= Admin.find_by_username(session[:admin]).username %> 
  <%= link_to "logout", logout_admin_path, :method => 'delete' %>

  <br />
  <h1> Serving <%= Business.all.count %> Businesses </h1>
  <% Business.all.each do |b| %>
     <%= image_tag b.logo.url(:thumb) %>
     <%= link_to b.name, business_path(b) %><br />
  <% end %>
  <%= link_to "Add a New Business", new_business_path %>
  <%= link_to "Create a new Offer", new_offer_path %>
  <%= link_to "Add a New Non-Profit", new_non_profit_path %>
  <%= link_to "View Mailing List", customers_path %>

