<%= nested_form_for @db_step_two do |f| %> 
  <% if @db_step_two.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @db_step_two.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="leftSideLayout">
<table id="dealBuilder" style='width:450px;'>
   <tr><td class='dealBuilderField' style="color:#8cc63f;" id='errorLocation'>Offer Redeemable At:</td><td></td></tr>
        <% @draw_remove = 0 %>
        <%= f.fields_for :locations%>
    <tr><td class='locationField'><b><%= f.link_to_add "Add Location", :locations %></b>
        <div style="display:inline;float:right;"><%= check_box(:db_step_two,:include_all,{},'yes','no') %> Include All Business Locations?</div></td></tr>
</table>
    <% unless @deal_builder_id %>
      <%= f.hidden_field :deal_builder_id, :value => params[:db_id]%>
      <div class="blueGreenLink" style="display:inline;float:left;">
      <%= link_to 'Back', edit_db_step_one_path(DbStepOne.find_by_deal_builder_id(params[:db_id]),:db_id => params[:db_id]) %>
      </div>
    <% else %>
      <%= f.hidden_field :deal_builder_id, :value => @deal_builder_id%>
      <div class="blueGreenLink" style="display:inline;float:left;">
      <%= link_to 'Back to Step One', edit_db_step_one_path(DbStepOne.find_by_deal_builder_id(@deal_builder_id),:db_id => @deal_builder_id) %>
      </div>
    <% end %>
  <div class="actions" style="float:right;">
    <%= f.submit 'Forward' %>
  </div>
</div>
<div class="rightSideLayout">
  <table class="stepTwoTips">
    <tr id="locations">
      <td><%=FormTip.find_by_title("locations for deal").description%></td>
    </tr>
  </table>
</div>
<div class="progressBar">
  <div class="previousProgress">
    <%= image_tag("/images/theme/bluefilledinCircle.png") %>
  </div>
  <div class="currentProgress">
    <%= image_tag("/images/theme/blueBorderonlyCircle.png") %>
  </div>
  <div class="forwardProgress">
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
  </div>

</div>
<% end %>
