<%=form_for @db_step_two do |f| %> 

<div class='formHeader'>The Where</div>
<br />
<div id='dealBuilderContainer'>
        <%= f.fields_for :locations do |locations_form|%>

          <div class='dealBuilderField'><%= locations_form.text_field :address,:placeholder => 'Address' %></div>
          <div class='dealBuilderField' ><%= locations_form.text_field :city,:placeholder => 'City'%></div>
          <div class='dealBuilderField'><%= locations_form.select :state,Location::STATES, {:prompt => 'State'} %></div>
          <div class='dealBuilderField'><%= locations_form.text_field :zip,:size => '6',:maxlength => '5',:placeholder => 'Zipcode'%></div>
        <% end %>
    <% unless @deal_builder_id %>
      <%= f.hidden_field :deal_builder_id, :value => params[:db_id]%>
      <div class='dealBuilderBackContainer' onclick="window.location =
           '<%= edit_db_step_one_path(DbStepOne.find_by_deal_builder_id(params[:db_id]),:db_id => params[:db_id]) %>'">
        <div class='dealBuilderBackText'>
          BACK
        </div>
      </div>
    <% else %>
      <%= f.hidden_field :deal_builder_id, :value => @deal_builder_id%>
      <div class='dealBuilderBackContainer' onclick="window.location =
       '<%= edit_db_step_one_path(DbStepOne.find_by_deal_builder_id(@deal_builder_id),:db_id => @deal_builder_id)%>'">
        <div class='dealBuilderBackText'>
          BACK
        </div>
      </div>
    <% end %>

  <div class='dealBuilderSubmitWithBack'>
    <%= f.submit 'Forward' %>
  </div>
  <div class='dbErrorContainer'>
  <% if @db_step_two.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@db_step_two.errors.count, "Error") %> </h2>
        <% @db_step_two.errors.full_messages.each do |msg| %>
          <div><%= msg %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
    
<div class="formTipLayout" >
    <div id="locations">
      <%=FormTip.find_by_title("locations for deal").description%>
    </div>
</div>
<% end %>
