<%= nested_form_for @db_step_two do |f| %> 
  <% if @db_step_two.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_step_two.errors.count, "error") %> prohibited this db_step_two from being saved:</h2>

      <ul>
      <% @db_step_two.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="leftSideLayout">
<table id="dealBuilder">
   <tr><td class='dealBuilderField'><%= f.text_field :offer_launch_date, :size => '12px', :placeholder=> 'Launch Date' %></td></tr>
   <tr><td class='dealBuilderField'>Offer Redeemable At:</td></tr>
        <%= f.fields_for :locations %>
    <tr><td class='locationField'><b><%= f.link_to_add "Add Location", :locations %></b></td></tr>
</table>
  <div class="actions">
    <%= f.hidden_field :deal_builder_id, :value => params[:db_id]%>
    <%= f.submit 'Save and Continue' %>
  </div>
</div>
<div class="rightSideLayout">
  <table class="stepTwoTips">
    <tr id="offer_launch_date">
      <td><%=FormTip.find_by_title("offer launch date").description%></td>
    </tr>
    <tr id="locations">
      <td><%=FormTip.find_by_title("locations for deal").description%></td>
    </tr>
  </table>
</div>
<div class="progressBar">
  <div class="previousProgress">
    <%= image_tag("/images/theme/bluefilledinCircle.png") %>
  </div>
  <div class="currentProgress">
    <%= image_tag("/images/theme/blueBorderonlyCircle.png") %>
  </div>
  <div class="currentGreaterThan">
    <%= image_tag("/images/theme/blueGreaterThan.png") %>
  </div>
  <div class="forwardProgress">
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
  </div>

</div>
<% end %>
