
   <tr><td class='locationField'><%= f.text_field :name, :placeholder => 'Location Name' ,:size => '12' %>
    <br /><%= f.text_field :address,:placeholder => 'Address',:size => '20' %></td></tr>
   <tr><td class='locationField'><%= f.text_field :city,:size=>'16',:placeholder => 'City' %>
      <%= f.select :state,Location::STATES, {:prompt => 'State'} %>
    <%= f.text_field :zip,:size => '6',:maxlength => '5' ,:placeholder => 'Zipcode'%></td></tr>
