<p id="notice"><%= notice %></p>

<h1>When and Where</h1>
<div>
  <b>Offer launch date:</b>
  <%= @db_step_two.offer_launch_date %>
</div>
<div>
  <b>Locations serving Offer</b>
  <% @db_step_two.locations.each do |loc| %>
    <%= render :template => 'locations/show', :object => (@location = loc) %>
  <% end %>
</div>


<%= link_to 'Edit', edit_db_step_two_path(@db_step_two) %> |
<%= link_to 'Back', db_step_twos_path %>
