<%= form_for(@form_tip) do |f| %>
  <% if @form_tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form_tip.errors.count, "error") %> prohibited this form_tip from being saved:</h2>

      <ul>
      <% @form_tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @edit_page %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
   <% end %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description,:size => "30x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
