<%= content_for :rightlayout do %>
<div class="leftSideLayout">
<h1><%= @form_tip.title.capitalize%> </h1>

<%= render 'form' ,:object => (@edit_page = true)%>

<div class="blueGreenLink"><%= link_to 'Show', @form_tip %> |
<%= link_to 'Back', form_tips_path %></div>
<% end %>
</div>
