<%= form_for(@review_entry) do |f| %>
  <% if @review_entry.errors.any? %>
    <div id="error_explanation">
      <h2>Please fix the following errors:</h2>

      <ul>
      <% @review_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service %><br />
    <%= f.select :service, ["fakeservice1","fakeservice2"],
                        :prompt => 'Select a Service' %>
  </div>
  <div class="field">
    <%= f.label :offer %><br />
    <%= f.text_area :offer, :size => "40x2" %>
  </div>
  <div class="field">
    <%= f.label 'Number of vouchers sold' %><br />
    <%= f.text_field :number_of_vouchers, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :level_of_new_business %>
    <%= f.radio_button :level_of_new_business, '1' %>
    <%= f.label '1' %>
    <%= f.radio_button :level_of_new_business, '2' %>
    <%= f.label '2' %>
    <%= f.radio_button :level_of_new_business, '3' %>
    <%= f.label '3' %>
    <%= f.radio_button :level_of_new_business, '4' %>
    <%= f.label '4' %>
    <%= f.radio_button :level_of_new_business, '5' %>
    <%= f.label '5' %>
  </div>
  <div class="field">
    <%= f.label :returning_new_customers %>
    <%= f.radio_button :returning_new_customers, '1' %>
    <%= f.label '1' %>
    <%= f.radio_button :returning_new_customers, '2' %>
    <%= f.label '2' %>
    <%= f.radio_button :returning_new_customers, '3' %>
    <%= f.label '3' %>
    <%= f.radio_button :returning_new_customers, '4' %>
    <%= f.label '4' %>
    <%= f.radio_button :returning_new_customers, '5' %>
    <%= f.label '5' %>
  </div>
  <div class="field">
    <%= f.label :overall_experience %>
    <%= f.radio_button :overall_experience, '1' %>
    <%= f.label '1' %>
    <%= f.radio_button :overall_experience, '2' %>
    <%= f.label '2' %>
    <%= f.radio_button :overall_experience, '3' %>
    <%= f.label '3' %>
    <%= f.radio_button :overall_experience, '4' %>
    <%= f.label '4' %>
    <%= f.radio_button :overall_experience, '5' %>
    <%= f.label '5' %>
  </div>
  <div class="field">
    <%= f.label 'Additional Comments (optional):' %><br />
    <%= f.text_area :content,:size => "40x5" %>
  </div>
    <%=f.hidden_field :email,:value=>(User.find_by_id(session[:users_id])).email%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
