<h1>Listing review_entries</h1>

<table class="admin">
  <tr class="odd">
    <th>Service</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @review_entries.each do |review_entry| %>
  <tr>
    <td><%= review_entry.service %></td>
    <td><%= review_entry.content %></td>
    <td><%= link_to 'Show', review_entry %></td>
    <td><%= link_to 'Edit', edit_review_entry_path(review_entry) %></td>
    <td><%= link_to 'Destroy', review_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review entry', new_review_entry_path %>
