<html>
<head>
  <% @offer = Offer.find(@voucher.offer_id) %>
</head>
<body>
  <h1> Your Donation Code: <%= @voucher.code %> </h1>
  <h3> <%= @offer.headline %> @ <%= Business.find(@offer.business_id).name %><br /> 
   <%= @offer.date_string %> <br />
  <%= @offer.address %> <br />
  <%= @offer.city %>, <%= @offer.state%> <%= @offer.zip %> </h3>
  <div>
    <p>Thank you for registering for this offer! 20% of your (food) purchase will support <%= NonProfit.find(@voucher.non_profit_id).title %>.</p> 

    <p>To initiate the donation, you must submit the following voucher code: <b><%= @voucher.code %></b> to your server when you pay.</p>

    <p>When the business records your donation you will receive a confirmation email with the donation information. (This may take a day a two to be  recorded). If you do not receive this email within 48 hours please contact us at support@offerglass.com.</p>
  </div>
  <div>
    Thank you,<br />

    The OfferGlass Team
    <br />
  </div>
</body>
</html>
