<% if admin_authorize %>
   <table>
     <th>Admin</th>
       <tr><td class="formTipLink"><b><%= link_to 'Users', users_path %></b></td></tr>
       <tr><td class="formTipLink"><b><%= link_to 'Industries', industries_path %></b></td></tr>
       <tr><td class="formTipLink"><b><%= link_to 'Form Tips', form_tips_path %></b></td></tr>
       <tr><td class="formTipLink"><b><%= link_to 'Standard Restrictions', standard_restrictions_path %></b></td></tr>
       <tr><td class="formTipLink"><b><%= link_to 'Incentive Ideas', incentive_ideas_path %></b></td></tr>
   </table>
<% end %>
