<%= form_for(@db_step_four) do |f| %>

<div class='formHeader'>The Extras </div>
<br />
<div id="dealBuilderContainer">

    <div class="dealBuilderField"><%= f.text_area :optional_incentive, :placeholder => 'Optional Incentives'%></div>
    <div class='dealBuilderField' id='checkBox' style='float:left;text-align:left;width:370px;height:25px;'>
      <%= check_box(:db_step_four,:fb_incentive,{},'yes','no') %>Give an incentive for sharing on facebook?
    </div>
    <div class='dealBuilderFBMoreContainer' id='stepFourFBMoreDiv'>
      <div class='dealBuilderFBMoreDivText'>?</div>
    </div>
    <div class="dealBuilderField" style='float:left;'><%= f.text_area :fb_incentive_text,:placeholder => 'Type the incentive here....',:disabled => true %></div>

  
    <% unless @deal_builder_id %>
      <%= f.hidden_field :deal_builder_id, :value => params[:db_id]%>
      <div class="dealBuilderBackContainer" onclick="window.location =
       '<%= edit_db_step_three_path(DbStepThree.find_by_deal_builder_id(params[:db_id]),:db_id => params[:db_id])%>'">
        <div class='dealBuilderBackText'>
          BACK
        </div>
      </div>
    <% else %>
      <%= f.hidden_field :deal_builder_id, :value => @deal_builder_id%>
      <div class="dealBuilderBackContainer" onclick="window.location =
       '<%= edit_db_step_three_path(DbStepThree.find_by_deal_builder_id(@deal_builder_id),:db_id => @deal_builder_id)%>'">
       <div class='dealBuilderBackText'>
         BACK
       </div>
      </div>
    <% end %>
  <div class="dealBuilderSubmitWithBack">
    <%= f.submit 'Complete Offer!' %>
  </div>
  <div class='dbErrorContainer'>
  <% if @db_step_four.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@db_step_four.errors.count, "Error") %> </h2>
        <% @db_step_four.errors.full_messages.each do |msg| %>
          <div><%= msg %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="formTipLayout" style='display:none'>
  <table class="stepFourTips">
    <tr id="optional_incentives" style='display:none'>
      <td><%=FormTip.find_by_title("optional incentives").description%></td>
    </td>
    <tr id="fb_incentive" style='display:none'>
      <td><%=FormTip.find_by_title("fb incentive").description%></td>
    </td>
  </table>
</div>
<% end %>
