<%= form_for(@db_step_four) do |f| %>
  <% if @db_step_four.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_step_four.errors.count, "error") %> prohibited this db_step_four from being saved:</h2>

      <ul>
      <% @db_step_four.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="leftSideLayout">
  <table class="dealBuilder">
    <tr><td class="dealBuilderLabelCBox"><b><%= f.label 'Ideas for Incentives' %></b></td><td></td></tr>
         <% IncentiveIdea.all.each do |i_i| %>
    <tr><td class="dealBuilderFieldCBox"><%= check_box_tag  'db_step_four[incentive_idea_ids][]',i_i.id,@db_step_four.incentive_ideas.include?(i_i) %>
         <%= i_i.description %></td></tr>
         <% end %>
    <tr>
      <td style="padding-top:20px"><%= f.text_area :optional_incentive, :size => "30x5",:placeholder => "Optional Incentives..." %></td>
    </tr>
  </table>
    <% unless @deal_builder_id %>
      <%= f.hidden_field :deal_builder_id, :value => params[:db_id]%>
      <div class="blueGreenLink" style="display:inline;float:left;">
      <%= link_to 'Back', edit_db_step_three_path(DbStepThree.find_by_deal_builder_id(params[:db_id]),:db_id => params[:db_id]) %>
      </div>
    <% else %>
      <%= f.hidden_field :deal_builder_id, :value => @deal_builder_id%>
      <div class="blueGreenLink" style="display:inline;float:left;">
      <%= link_to 'Back', edit_db_step_three_path(DbStepThree.find_by_deal_builder_id(@deal_builder_id),:db_id => @deal_builder_id) %>
      </div>
    <% end %>
  <div class="actions" style="float:right;">
    <%= f.submit 'Complete Offer!' %>
  </div>
</div>
<div class="rightSideLayout">
  <table class="stepFourTips">
    <tr id="incentive_ideas">
      <td><%=FormTip.find_by_title("incentive ideas").description%></td>
    </td>
    <tr id="optional_incentives">
      <td><%=FormTip.find_by_title("optional incentives").description%></td>
    </td>
  </table>
</div>
<div class="progressBar">
  <div class="previousProgress">
    <%= image_tag("/images/theme/bluefilledinCircle.png") %>
    <%= image_tag("/images/theme/bluefilledinCircle.png") %>
    <%= image_tag("/images/theme/bluefilledinCircle.png") %>
  </div>
  <div class="currentProgress">
    <%= image_tag("/images/theme/blueBorderonlyCircle.png") %>
  </div>
</div>
<% end %>
