<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
      <h2> Please fix the following errors</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="entry">
    <b><%= f.label 'Name:' %>
    <%= f.text_field :name %></b>
  </div>
  <div class="entry">
    <b><%= f.label 'Email:' %>
    <%= f.email_field :email %></b>
  </div>
  <div class="entry">
    <b><%= f.label  'Password:'%>
    <%= f.password_field :password %></b>
  </div>
  <div class="entry">
    <b><%= f.label :password_confirmation, 'Confirm:'%>
    <%= f.password_field :password_confirmation %></b>
  </div>
  <div class="entry">
    <b><%= f.label 'Zipcode:'%>
    <%= f.text_field :zipcode %></b>
  </div>
  <div class="entry">
      <%= f.label 'Industry:' %>
      <div id="industrycheckbox">
      <%= render Industry.all %>
      </div>
</div>
  <div class="button">
    <%= f.submit %>
  </div>
<% end %>
