<%= form_for @user,:html => {:multipart => true}  do |f| %>
<noscript>
  <% if @user.errors.any? %>
      <h2> Please fix the following errors</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>
</noscript>

<br /><br /><br />
<br /><br /><br />
<table class="signup">
  <tr class="signup">
      <td class="signup_text"><b><%= f.label 'Name:' %></td>
      <td class="signup_field"><%= f.text_field :name, :size => 22 %></b></td>
  </tr>
  <tr><td></td></tr> 
  <tr>
    <td class="signup_text"><b><%= f.label 'Email:' %></td>
    <td class="signup_field"><%= f.text_field :email, :size => 22 %></b></td>
  </tr>
  <tr><td></td></tr> 
  <tr>
    <td class="signup_text"><b><%= f.label  'Password:'%></td>
    <td class="signup_field"><%= f.password_field :password, :size => 22 %></b></td>
  </tr>
  <tr><td></td></tr> 
  <tr>
      <td class="signup_text"><b><%= f.label :password_confirmation, 'Confirm:'%></td>
      <td class="signup_field"><%= f.password_field :password_confirmation, :size => 22 %></b></td>
  </tr>
  <tr><td></td></tr> 
  <caption>
  <div class="button">
    <%= f.submit 'Sign Up' %>
  </div>
  </caption>
<% end %>
