<%= form_for @user,:html => {:multipart => true}  do |f| %>
<noscript>
  <% if @user.errors.any? %>
      <h2> Please fix the following errors</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>
</noscript>

  <div class="entry">
    <b><%= f.label 'Name:' %>
    <%= f.text_field :name, :size => 22 %></b>
  </div>
  <br />
  <div class="entry">
    <b><%= f.label 'Email:' %>
    <%= f.text_field :email, :size => 22 %></b>
  </div>
  <br />
  <div class="entry">
    <b><%= f.label  'Password:'%>
    <%= f.password_field :password, :size => 22 %></b>
  </div>
  <br />
  <div class="entry">
    <b><%= f.label :password_confirmation, 'Confirm:'%>
    <%= f.password_field :password_confirmation, :size => 22 %></b>
  </div>
  <br />
  <div class="entry">
    <b><%= f.label 'Zipcode:'%>
    <%= f.text_field :zipcode, :size => 22 %></b>
  </div>
  <br />
  <div class="entry">
      <b><%= f.label 'Industry:' %></b>
         <% Industry.all.each do |industry| %>
         <%= check_box_tag  'user[industry_ids][]',industry.id,@user.industries.include?(industry) %>
         <%= industry.title %>
         <% end %>
       <br />
</div>
  <br />
  <div class="entry">
     <b><%= f.label 'Company Logo:' %></b>
        <%= f.file_field :logo %>
  </div> 
  <div class="button">
    <%= f.submit 'Sign Up' %>
  </div>
<% end %>
