<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
      <h2> Please fix the following errors</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="entry">
    <b><%= f.label 'Name:' %>
    <%= f.text_field :name %></b>
  </div>
  <div class="entry">
    <b><%= f.label 'Email:' %>
    <%= f.email_field :email %></b>
  </div>
  <div class="entry">
    <b><%= f.label  'Password:'%>
    <%= f.password_field :password %></b>
  </div>
  <div class="entry">
    <b><%= f.label :password_confirmation, 'Confirm:'%>
    <%= f.password_field :password_confirmation %></b>
  </div>
  <div class="entry">
    <b><%= f.label 'Zipcode:'%>
    <%= f.text_field :zipcode %></b>
  </div>
  <div class="entry">
      <b><%= f.label 'Industry:' %></b>
       <div class="industriesSignup">
         <%= f.collection_select  :industry_ids, Industry.all,:id,
                                        :title,{:prompt => 'Please Select an Industry'},
                                {:name => 'user[industry_ids][]'}%>
       <br />
       </div>
       <div class="industrylink">                         
       <b><%=link_to_function 'Add Another Industry',
		  "$('#{escape_javascript(
		     f.collection_select :industry_ids, Industry.all, :id,:title,{:prompt => 'Please Select an Industry'},
                {:name => 'user[industry_ids][]'})}<br />').hide().appendTo('.industriesSignup').fadeIn('slow')" %>
       </b>
       </div>
</div>
  <div class="button">
    <%= f.submit %>
  </div>
<% end %>
