
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2> Please fix the following errors</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, 'Password'%><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm'%><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :zipcode%><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :industry%><br />
    <%= f.select :industry, User::INDUSTRIES,
                       :prompt => 'Select an Industry' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
