<%= form_for @user,:html => {:multipart => true}  do |f| %>
 
 <div class='signup_box'>
      <div class="signup_fields"><%= f.text_field :name,:placeholder => "Name" %></div>
    <div class="signup_fields"><%= f.text_field :email,:placeholder => "Email" %></div>
    <div class="signup_fields"><%= f.password_field :password, :placeholder => "Password" %></div>
      <div class="signup_fields"><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
  <div id="signUpSubmit">
    <% if @edit %>
      <%= f.submit 'Save' %>
    <% else %>
      <%= f.submit 'Sign Up' %>
    <% end %>
  </div>
  </div>

<div style="margin-top:60px;'">
<% if @user.errors.any? %>
      <h2> Please fix the following errors</h2>

      <% @user.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
  <% end %>
  </div>





<% end %>
