<% if same_user?(@user.id,'user_show') %>
<p id="notice"><%= notice %></p>

<%= image_tag @user.logo.url(:thumb) %>
<br />
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @user.zipcode %>
</p>

<p>
  <b>Industry:</b>
  <%= render @user.industries%>
<p>

<%= link_to 'Edit', edit_user_path(@user) %> 
<% else %>
  <%= render :partial => 'layouts/noaccess' %>
<% end %>
