<br />
<h1>ALL PARTICIPATING ORGANIZATIONS</h1>
   <br />
   <br />


<% @non_profits.each do |non_profit| %>
    <%= non_profit.name %>
    <br />
       <% non_profit.causes.each do |c| %>
         <%= c.title %>
       <% end %>
    <%= link_to 'Show', non_profit %>
   <% if bool_admin_authorize %>
     <%= link_to 'Edit', edit_non_profit_path(non_profit)%>
     <%= link_to 'Destroy', non_profit, :confirm => 'Are you sure?', :method => :delete %>
   <% end %>
   <br />
   <br />
   <br />
<% end %>

<br />

   <% if bool_admin_authorize %>
<%= link_to 'New Non profit', new_non_profit_path %>
<% end %>
