<% if bool_finished_step_zero? %>
<div class='homeBigLinks'>
<%= link_to 'Build', new_db_step_one_path %><br/><br/>
<%= link_to 'Review', deal_builders_path %><br/><br/>
<%= link_to 'Distribute', '#' %><br/><br/>
<%= link_to 'Track', vouchers_path %></div>
<% else %>
<div class="leftSideLayout">
<%= render :template => 'db_step_zeros/new' %>
</div>
<% end %>
