<%= content_for :rightlayout do %>
<ul class="dash">
  <li class="fade_hover tooltip" title="" style="opacity: 1;">  
  <a href=<%=new_deal_builder_path%>>
    <%= image_tag("theme/icons/dashboard/41.png") %>
    <span>Build Offer</span>
  </a>
  </li>
  <li class="fade_hover tooltip" title="" style="opacity: 1;">
  <a href="<%= deal_builders_path %>">
    <%= image_tag("theme/icons/dashboard/2.png") %>
    <span>My Offers</span>
  </a>
  </li>
  <li class="fade_hover tooltip" title="" style="opacity: 1;">
  <a href="#">
    <%= image_tag("theme/icons/dashboard/66.png") %>
    <span>Distribute</span>
  </a>
  </li>
  <li class="fade_hover tooltip" title="" style="opacity: 1;">
  <a href="#">
    <%= image_tag("theme/icons/dashboard/43.png") %>
    <span>Track</span>
  </a>
  </li>
<% end %>
