<%= content_for :rightlayout do %>
<div class="leftSideLayout">
<h1>Industries</h1>
<table>
  <tr>
    <th>Industry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @industries.each do |industry| %>
  <tr>
    <td><%= industry.title %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="formTipLink"><%= link_to 'Edit', edit_industry_path(industry) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="formTipLink"><%=link_to 'Remove',industry,:confirm => "Are you sure?", :method => :delete %>
    </td>
</td>
 </tr>
<% end %>
</table>


<div class="blueGreenLink"><%= link_to 'Add Industry', new_industry_path %></div>
<% end %>
</div>
