<h1>Mailing List (<%=@customers.count%>)</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.email %></td>
    <td><%= link_to 'Details', customer %></td>
    <td><%= link_to 'Remove From Mailing List', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', admins_path %>

