<% @subindustries.each do |subindustry| %>
  <tr>
    <td></td>
    <td><%= subindustry.title %></td>
    <td><%= subindustry.description %></td>
    <td><%= link_to 'Show', subindustry %></td>
    <td><%= link_to 'Edit', edit_subindustry_path(subindustry) %></td>
    <td><%= link_to 'Destroy', subindustry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

<%= link_to 'New Subindustry', new_subindustry_path %>
