<p id="notice"><%= notice %></p>

<p>
  <b>Max number of vouchers:</b>
  <%= @prev_publish.max_number_of_vouchers %>
</p>

<p>
  <b>Total vouchers sold:</b>
  <%= @prev_publish.total_vouchers_sold %>
</p>

<p>
  <b>Start of deal:</b>
  <%= @prev_publish.start_of_deal %>
</p>

<p>
  <b>Incentive ideas:</b>
  <%= @prev_publish.incentive_ideas %>
</p>

<p>
  <b>Offer title:</b>
  <%= @prev_publish.offer_title %>
</p>

<p>
  <b>Offer description:</b>
  <%= @prev_publish.offer_description %>
</p>

<p>
  <b>Offer value:</b>
  <%= @prev_publish.offer_value %>
</p>

<p>
  <b>Offer price:</b>
  <%= @prev_publish.offer_price %>
</p>

<p>
  <b>Restrictions:</b>
  <%= @prev_publish.restrictions %>
</p>

<p>
  <b>Voucher length:</b>
  <%= @prev_publish.voucher_length %>
</p>

<p>
  <b>Address:</b>
  <%= @prev_publish.address %>
</p>

<p>
  <b>City:</b>
  <%= @prev_publish.city %>
</p>

<p>
  <b>State:</b>
  <%= @prev_publish.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @prev_publish.zip %>
</p>

<p>
  <b>Coupon:</b>
  <%= @prev_publish.coupon %>
</p>


<%= link_to 'Edit', edit_prev_publish_path(@prev_publish) %> |
<%= link_to 'Back', prev_publishes_path %>
