<ul class="dash">
  <li class="fade_over_tooltip" title="Run a Deal">
    <a href="<%= learning_center_run_a_deal_path %>">
      <%= image_tag("theme/icons/dashboard/65.png") %>
      <span>Run a deal?</span>
    </a>
  </li>
  <li class="fade_over_tooltip" title="Getting Started">
    <a href="<%= learning_center_getting_started_path %>">
      <%= image_tag("theme/icons/dashboard/94.png") %>
      <span>Getting Started</span>
    </a>
  </li>
  <li class="fade_over_tooltip" title="Which Provider">
    <a href="<%= learning_center_which_provider_path %>">
      <%= image_tag("theme/icons/dashboard/114.png") %>
      <span>Which Provider?</span>
    </a>
  </li>
  <li class="fade_over_tooltip" title="Profit Drivers">
    <a href="<%= learning_center_profit_drivers_path %>">
      <%= image_tag("theme/icons/dashboard/84.png") %>
      <span>Profit Drivers</span>
    </a>
  </li>

  <li class="fade_over_tooltip" title="Offer Structure">
    <a href="<%= learning_center_offer_structure_path %>">
      <%= image_tag("theme/icons/dashboard/41.png") %>
      <span>Offer Structure</span>
    </a>
  </li>
  <li class="fade_over_tooltip" title="Before and During">
    <a href="<%= learning_center_before_and_during_path %>">
      <%= image_tag("theme/icons/dashboard/12.png") %>
      <span>Before and During</span>
    </a>
  </li>
  <li class="fade_over_tooltip" title="Follow Up">
    <a href="<%= learning_center_follow_up_path %>">
      <%= image_tag("theme/icons/dashboard/2.png") %>
      <span>Follow Up</span>
    </a>
  </li>



  
</ul>
<hr />

