<%= form_for(@industry_restriction) do |f| %>
  <% if @industry_restriction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@industry_restriction.errors.count, "error") %> prohibited this industry_restriction from being saved:</h2>

      <ul>
      <% @industry_restriction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <%= f.hidden_field :industry_id, :value => (Industry.find(params[:industry_id])).id%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
