<head>
  <title>OfferGlass</title>
      <%= stylesheet_link_tag 'style.css',"jquery-ui-1.8.16.custom.css",'jquery.countdown.css'%>
 <%= javascript_include_tag 'jquery','jquery-1.6.2.min','jquery-ui-1.8.16.custom.min',
 'jquery.validate.min','jquery.validate','jquery_ujs','jquery.countdown','nested_form','application' %>

  <%= csrf_meta_tag %>
</head>


<div id="layoutbanner">
         <div class="leftLinks">
         <div class="bannerlogo">
         <%= link_to image_tag("theme/smallbannercroppedlogo.png"),login_index_path %>
         </div>
         <% if current_user %>
					<div class="headerLinks">
             <b><%= link_to 'New Offer', new_deal_builder_path %></b>
             <b><%= link_to 'My Offers', deal_builders_path %></b>
             <b><%= link_to 'Distribute', '#' %></b>
             <b><%= link_to 'Track', vouchers_path %></b>
         </div>
      </div>
       <div class="rightLinks">
           <div class="headerLinks">
             <%= link_to "Settings", edit_user_path(session[:users_id])%>
             <%= link_to "Logout", logout_path, :method => :delete %>
           </div>
        </div>
        <% else %>
        </div>
        <% end %>

</div>
<div id='content'>
  <div id='rightlayout'>
      <div class='formHeader' style='padding-bottom:30px;'>That deal has already ended!</div> 
      <% if (@prevP = PrevPublish.find_by_db_publish_id(params[:id])) %>
      <% @headline = 1 %>
      <% @user = User.find(@prevP.user_id) %>
        <% @user.deal_builders.each do |db| %>
          <% if db.db_publish %>
            <% if @headline == 1 %>
              <div> Don't fret! Here are some other Offers by <%= "#{@user.db_step_zero.business_name}" %></div>
              <% @headline = 0 %>
            <% end %>
            <%= link_to "#{db.db_step_one.offer_title}",db.db_publish %>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>

