<head>
  <% @user_id = User.find(DealBuilder.find(@db_publish.deal_builder_id).user_id) %>
  <% @one = DealBuilder.find(@db_publish.deal_builder_id).db_step_one %>
  <% @four = DealBuilder.find(@db_publish.deal_builder_id).db_step_four %>
  <% @three = DealBuilder.find(@db_publish.deal_builder_id).db_step_three %>
  <% checkLiveDeals(@db_publish.id, 'dbp_show') %>
</head>
<% if @db_publish.private_deal == 'yes'%> 
  <% show_private_deal(@db_publish.id) %>
<% end %>
<% unless current_user %>
 <div id="layoutbanner">
         <div class="bannerlogo">
         <%= link_to image_tag("theme/smallbannercroppedlogo.png"),login_index_path %>
         </div>
</div>
<div id='content'>
  <div id='rightlayout'>  
<% end %>
  <div class="leftPublishedDeal">
    <h2><%= @one.offer_title %></h2>
      <h3>$<%= @one.offer_value %> value for $<%= @one.offer_price %></h3>
        <% if @db_publish.private_deal == 'yes' && !current_user%>
          <% if @one.coupon == 'no' %>
						<h3><%= button_to 'Purchase',private_path, :method => :delete%></h3>
          <% else %>
						<h3><%= button_to 'Redeem',private_path, :method => :delete%></h3>
          <% end %>
        <% elsif !current_user %>
          <% if @one.coupon == 'no' %> 
						<h3><%= link_to 'Purchase',purchase_session_new_path(:id => @db_publish.id), :method => :get%></h3>
					<% else %>
						<h3><%= link_to 'Redeem',purchase_session_new_path(:id => @db_publish.id), :method => :get%></h3>
					<% end %>
        <% end %>
    <p><%= @one.offer_description %></p>
    <% if(@one.offer_photo.exists? == true) then %>
      <%= image_tag @one.offer_photo.url(:medium) %>
    <% end %>
    <h2>Incentives</h2>
    <% if @four.fb_incentive == 'yes' %>
      <p>This deal has a facebook sharing incentive and here it is:
        <%= @four.fb_incentive_text %>
    <% end %>
    <p><%= @four.optional_incentive %></p>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
 window.fbAsyncInit = function() {
 FB.init({

    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });

FB.Event.subscribe('edge.create', function(response) {
var code = '<%= j checkAndCreateFBShareCode %>'
var $dialog = $('<div></div>')
		.html('Use the code below at checkout to unlock the facebook incentive<br /><br /><h1>' + code)
		.dialog({
			autoOpen: false,
                        position:[350,100],
                        resizable:false,
			title: 'Thanks for Sharing!',
		});
if(code != 'false') {
  $dialog.dialog('open');
}
});

}
</script>
<div class="fb-like" data-href="google.com" data-send="false" data-layout="button_count" data-show-faces="false" style='float:left;'></div>
<div class='twshare left'style='text-align:left;'>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="offerglass">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
    
    <hr />
    <h2>Restrictions</h2>
    <% @three.standard_restrictions.each do |restriction| %>
      <p><%= restriction.description %></p>
    <% end %>
    <p><%= @three.optional_restriction %></p>
    <p>Voucher expires <%= @three.voucher_length %> month(s) after purchase.</p>
  </div>
  <div class="rightPublishedDeal">
    <% @zero = User.find(@user_id).db_step_zero %>
    <h2><%= @zero.business_name %></h2>
    <p><%= @zero.business_description %></p>
    <% if(@zero.company_logo.exists? == true) then %>
      <%= image_tag @zero.company_logo.url(:thumb) %>
    <% end %>
    <% @two = DealBuilder.find(@db_publish.deal_builder_id).db_step_two.locations[0] %>
    <h3>Redeemable at:</h3>
    <p><%= @two.address %></p>
    <p><%= @two.city %>, <%= @two.state %></p>
    <p><%= @two.zip %></p>
    <p><%= @zero.website %></p>
    <p><%= @zero.phone_number %></p>
    <p><%= User.find(@user_id).email %></p>
  </div>
  <div class="rightPublishedDeal">
    <h3>Stats</h3>
    <p>Vouchers Sold: <%= @db_publish.total_vouchers_sold %></p>
    <% if(@db_publish.max_vouchers_to_sell > 0) then %>
      <p>Vouchers Remaining: <%= @db_publish.max_vouchers_to_sell - @db_publish.total_vouchers_sold %></p>
    <% end %>
    <% if(@db_publish.length_of_deal > 0) then %>

    <% @endTime = @db_publish.created_at %>
    <% @endTime += @db_publish.length_of_deal.days %>

         <script>
          $(document).ready(function() {
          var endTimeSeconds = <%= @endTime.to_i %>;
          var endTimeDate = new Date(Number(endTimeSeconds) * 1000);
          $('#countdown').countdown({until:endTimeDate});
          });
        </script>
        <div id='countdown'></div>

    <% end %>
  </div>
<% unless current_user %>
  </div>
</div>
<% end %>
