<h2> Changing your Password </h2>
<%= notice %>
<%= form_for(@business, :url => {:action => :business_change_password_save}) do |f| %>
     <div>
       <%= password_field_tag :old_password,params[:old_password], :placeholder => "Current Password" %>
     </div>
     <div>
       <%= f.password_field :password,  :placeholder => "New Password"%>
     </div>
     <div>
       <%= f.password_field :password_confirmation,  :placeholder => "Confirm New Password"%>
     </div>
     <div>
       <%= f.submit 'Change Password', :notice => 'Password was successfully changed!'%>
     </div>
  <% end %>
