<h2> Changing your Password </h2>
<%= form_tag do %>

     <div>
       <%= password_field_tag :old_password, params[:old_password], :placeholder => "Current Password" %>
     </div>

     <div>
       <%= password_field_tag :password, params[:password], :placeholder => "New Password"%>
     </div>

     <div>
       <%= password_field_tag :password_confirmation, params[:password_confirmation], :placeholder => "Confirm New Password"%>
     </div>

     <div>
       <%= submit_tag 'Change Password', :notice => 'Password was successfully changed!'%>
     </div>
  <% end %>
