<div class='row-fluid'>
 <div class='span8'>
   Welcome <%= @business.name %>
 </div>
 <div class='pull-right'>
   <%= link_to 'Change Password', b_cp_path %> 
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
   <%= link_to 'Logout', logout_business_path, :method => :delete %>
 </div>
</div>
<br/>
<div class='row-fluid'>
 <div class='span6'>
  <h2> Redeem </h2>
   <%= notice %>
  <%= form_tag do %>
    <%= text_field_tag :code, params[:code], :placeholder => 'Code' %>
    <br />
    <%= text_field_tag :amount, params[:amount], :placeholder => 'Amount Purchased (ex. 23.57)' %>
    <br />
    Send Receipt Email
    <%= check_box_tag :send_email, 'yes','yes'%>
    <br />
    <%= submit_tag 'Redeem!',:confirm => "Are you sure you wish to redeem this code?"%>
  <% end %>
  </div>
 <div class='pull-right'>
 <% @total = 0 %>
 Total Earned
    <% @business.vouchers.where(:redeemed => 1).each do |v| %> 
      <% @total += v.purchase %> 
    <% end %>
    <%= number_to_currency @total - @total * 0.2 %>
 Total Donated 
    <%= number_to_currency @total * 0.2 %>
 </div>
</div>


<hr >
<h2>Running Community Offers</h2>
<% @liveOffers.each do |o|%>
  <div class='row-fluid'>
    <h3><%= link_to o.headline, live_offer_path(o) %></h3> 
    <div class='span5'>
  <div class='well'>
    <h4>Vouchers to be Redeemed</h4>
    <% o.vouchers.where(:redeemed => 0).each do |p| %> 
      <div>
        <div class='span1'>
          <%= p.code %>
        </div>
        <div class='span3' style='font-size:10px;'>
          <%= NonProfit.find(p.non_profit_id).title %>
        </div>
      </div>
      <br />
    <% end %>
    </div>
    </div>
    <div class='span6 offset5'>
  <div class='well'>
    <h4>Redeemed Vouchers</h4>
    <% o.vouchers.where(:redeemed => 1).each do |p| %> 
        <div class='span1'>
          <%= p.code %>
        </div>
        <div class='span1'>
          <%= number_to_currency p.purchase %>
        </div>
        <div class='span3' style='font-size:10px;'>
          <%= NonProfit.find(p.non_profit_id).title %>
          
        </div>
      <br />
        <div class='span3'>
<%= link_to 'Cancel This Redemption', b_redeem_path(:v => p), 
            :confirm => 'Are you sure you wish to cancel this redemption?' , :method => :delete%>
        </div>
      <br />
      <br />
    <% end %>
    </div>
    </div>
  </div>
</div>
<% end %>

