 Welcome <%= @business.name %>
 <%= link_to 'Logout', logout_business_path, :method => :delete %>
<% if @business.hashed_password == Business.encrypt_password(@business.initial_password,@business.salt) %> 
  <div> Your password is still the same one we gave you. Please change your password <%=link_to 'here', b_cp_path %>. </div>
<% else %>
  <%= link_to 'Change Password', b_cp_path %> 
<% end %>
<h1> Redeem Here</h1>
 <%= notice %>
<%= form_tag do %>
  <%= text_field_tag :code, params[:code], :placeholder => 'Code' %>
  <br />
  <%= text_field_tag :amount, params[:amount], :placeholder => 'Amount Purchased' %>
  <br />
  <%= submit_tag 'Redeem!',:confirm => "Are you sure you wish to redeem this code?"%>
<% end %>


<hr >
<% @liveOffers.each do |o|%>
  <h3><%= link_to o.headline, live_offer_path(o) %></h3> 
  <%= @business.vouchers.count %>  Total Voucher(s)
  <br />
  <%= @business.vouchers.where(:redeemed => 0).count %> Unredeemed Voucher(s)
  <br />
  <%= @business.vouchers.where(:redeemed => 1).count %> Redeemed Voucher(s)
<% end %>

