<ul class="dash">
  <li class="fade_over_tooltip" title="About Us">
    <a href="<%= contact_about_us_path %>">
      <%= image_tag("theme/icons/dashboard/65.png") %>
      <span>About Us</span>
    </a>
  </li>
  <li class="fade_over_tooltip" title="Contact Us">
    <a href="<%= contact_contact_us_path %>">
      <%= image_tag("theme/icons/dashboard/74.png") %>
      <span>Contact Us</span>
    </a>
  </li>
  <li class="fade_over_tooltip" title="Blog">
    <a href="<%= contact_blog_path %>">
      <%= image_tag("theme/icons/dashboard/44.png") %>
      <span>Blog</span>
    </a>
  </li>
</ul>
<hr />
