<p id="notice"><%= notice %></p>

<br />
Name: <%= @organization.name %>
<br />
Description: <%= @organization.description %>
<br />
Website: <%= @organization.website %>
<br />
Address: <%= @organization.address %>
<br />
City: <%= @organization.city %>
<br />
State: <%= @organization.state %>
<br />
Zip: <%= @organization.zip %>
<br />
Email: <%= @organization.email %>
<br />
Phone Number: <%= @organization.phone_number %>
<br />
Title: <%= @organization.title %>
<br />
First Name: <%= @organization.first_name %>
<br />
Last Name: <%= @organization.last_name %>
<br />
Terms: <%= @organization.terms_of_use %>
<br />


<%= link_to 'Back', organizations_path %>
