<%= form_for @deal_builder, :html => {:multipart => true} do |f| %>
  <% if @deal_builder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal_builder.errors.count, "error") %> prohibited this deal_builder from being saved:</h2>

      <ul>
      <% @deal_builder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1> Step 1: The Basics </h1>
<div>
<%= f.label 'Name of your business:' %>
<%= f.text_field :business_name %>
</div>
<div>
<%= f.label 'Title of your offer:' %>
<%= f.text_field :offer_title %>
</div>

<div>
<%= f.label 'Company logo:' %>
<%= f.file_field :logo %>
</div>

<div>
<%= f.label 'Industry:' %>
<%= collection_select :deal_builder, :industry, Industry.all,:title,:title,
                        :prompt => 'Please select an Industry' %>
</div>

<div>
<%= f.label 'Value of Offer' %>
<%= f.text_field :offer_value %>
</div>

<div>
<%= f.label 'Price of Offer' %>
<%= f.text_field :offer_price %>
</div>

<div>
<%= f.label 'Please describe the offer' %>
<%= f.text_area :offer_description, :size => "20x5" %>
</div>


  <div class="actions">
    <%= f.submit 'Next'  %>
  </div>
<% end %>
~                    
