<% same_user?(@deal_builder.id) %>
<div class='leftSideLayout'>
<div class='blueGreenLink'>

<b><%= link_to 'Edit Part 1', edit_db_step_one_path(@deal_builder.db_step_one, :db_id => @deal_builder.id) %></b>
<% if @deal_builder.db_step_two %>
  <b><%= link_to 'Edit Part 2', edit_db_step_two_path(@deal_builder.db_step_two, :db_id => @deal_builder.id) %></b>
  <% if @deal_builder.db_step_three %>
    <b><%= link_to 'Edit Part 3', edit_db_step_three_path(@deal_builder.db_step_three, :db_id => @deal_builder.id) %></b>
    <% if @deal_builder.db_step_four %>
    <b><%= link_to 'Edit Part 4', edit_db_step_four_path(@deal_builder.db_step_four, :db_id => @deal_builder.id) %></b></div>
    <% else %>
      <b><%= link_to 'Begin Part 4', new_db_step_four_path(:db_id => @deal_builder.id) %></b>
    <% end %>
  <% else %>
    <b><%= link_to 'Begin Part 3', new_db_step_three_path(:db_id => @deal_builder.id) %></b>
  <% end %>
<% else %>
  <b><%= link_to 'Begin Part 2', new_db_step_two_path(:db_id => @deal_builder.id) %></b>
<% end %>

  

  

<% if @deal_builder.db_step_four %>
  <h1>This deal is complete</h1>
<% else %>
  <h1>This deal is not complete!</h1>
<% end %>

<div class='blueGreenLink'><%= link_to 'Back', deal_builders_path %></div>
</div>
