<div class="leftSideLayout">
<h1>Your Deals</h1>

<table>
  <tr>
    <th> Title</th>
    <th></th>
    <th></th>
  </tr>

<% current_user.deal_builders.each do |deal_builder| %>
  <tr>
    <td><%= deal_builder.db_step_one.offer_title %></td>
    <% unless deal_builder.db_publish %>
      <% if deal_builder.db_step_four %>
      <td class="formTipLink"><%= link_to 'Publish Now!', deal_builder %></td>
    <% end %>
    <% else %>
      <td class="formTipLink"><%= link_to 'View Deal Page!', deal_builder.db_publish %></td>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <% if deal_builder.db_step_four %>
      <td class="formTipLink"><%= link_to 'Edit', edit_deal_builder_path(deal_builder) %></td>
      <td>
      <td>
    <% else %>
      <td class="formTipLink"><%= link_to 'Finish Deal!', edit_deal_builder_path(deal_builder) %></td>
      <td>
      <td>
    <% end %>
    <td></td>
    <td></td>
    <td class="formTipLink"><%= link_to 'Delete', deal_builder, :confirm => 'Are you sure?', :method => :delete %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />
</div>
