<div class="leftSideLayout">
      <table>
       <th><tr>Deals to finish</tr></th>
      <% checkLiveDeals('to pass the time', 'db_index') %>
<% current_user.deal_builders.each do |deal_builder| %>
    <% unless deal_builder.db_publish %>
     <tr>
        <td><%= deal_builder.db_step_one.offer_title %></td>
      <% if deal_builder.db_step_four %>
        <td class="formTipLink"><%= link_to 'Publish Now!', deal_builder %></td>
      <% elsif deal_builder.db_step_four  && !deal_builder.db_publish%>
        <td class="formTipLink"><%= link_to 'Edit', edit_deal_builder_path(deal_builder) %></td>
      <% elsif !deal_builder.db_step_four%>
        <td class="formTipLink"><%= link_to 'Finish Deal!', edit_deal_builder_path(deal_builder) %></td>
      <% end %>
    <% end %>
<% end %>
    </tr>
</table>
</div>

<div class='rightSideLayout'>
  <table>
      <th>Your Past Published Deals</th>
    <% unless current_user.prev_publishes %>
      <tr><td>None at the moment</td></tr>
    <% end %>
    <% current_user.prev_publishes.each do |pp| %>
      <tr>
        <td class='formTipLink'><%=link_to pp.offer_title, pp%></td>
        <td><%= pp.created_at.strftime("Ended on %m/%d/%y at %I:%M%p")%></td>
      </tr>
         
    <% end %> 
  </table>
</div>

  <div class="leftSideLayout">
      <table>
       <th><tr> Live Deals</tr></th>
       <% @a_db_publish = 0 %>
    <% current_user.deal_builders.each do |deal_builder| %>
     <% if deal_builder.db_publish %>
       <tr>
          <td><%= deal_builder.db_step_one.offer_title %></td>
          <td class="formTipLink"><%= link_to 'View Deal!', deal_builder %></td>
          <td class="formTipLink"><%= link_to 'Stop Deal!', deal_builder.db_publish, :method => :delete,:confirm => 'Are you sure?' %></td>
            <% if deal_builder.db_publish.private_deal == 'yes' %>
              <td class="formTipLink"><%= link_to 'View/Add Private Deal Codes' , private_deal_codes_path(:id => deal_builder.db_publish.id)%></td>
            <%end %> 
       </tr> 
       <% @a_db_publish = 1 %>
     <% end %>
    <% end %>
      <% if @a_db_publish == 0 %>
        <tr><td style='text-align:center;'>No live deals at the moment</td></tr>
      <% end %>
      </table>
      </div>
