<div class="leftSideLayout">
      <table>
       <th><tr>Deals</tr></th>
<% current_user.deal_builders.each do |deal_builder| %>
    <% unless deal_builder.db_publish %>
     <tr>
        <td><%= deal_builder.db_step_one.offer_title %></td>
      <% if deal_builder.db_step_four %>
        <td class="formTipLink"><%= link_to 'Publish Now!', deal_builder %></td>
    <% elsif deal_builder.db_step_four  && !deal_builder.db_publish%>
      <td class="formTipLink"><%= link_to 'Edit', edit_deal_builder_path(deal_builder) %></td>
    <% elsif !deal_builder.db_step_four%>
      <td class="formTipLink"><%= link_to 'Finish Deal!', edit_deal_builder_path(deal_builder) %></td>
    <% end %>
    </tr>
    <% else %>
    <tr>
        <td><%= deal_builder.db_step_one.offer_title %></td>
      <td class="formTipLink"><%= link_to 'View Deal Page!', deal_builder.db_publish %></td>
      <td class="formTipLink"><%= link_to 'Stop Deal!', deal_builder.db_publish, :method => :delete,:confirm => 'Are you sure?' %></td>
    <td class="formTipLink"><%= link_to 'Delete', deal_builder, :confirm => 'Are you sure?', :method => :delete %></td>
     </tr> 
    <% end %>
<% end %>
      </table>
      </div>
<div class='rightSideLayout'>
  <table>
    <th>Your Past Published Deals</th>
    <% current_user.prev_publishes.each do |pp| %>
      <tr>
        <td class='formTipLink'><%=link_to pp.offer_title, pp%></td>
        <td><%= pp.created_at.strftime("Ended on %m/%d/%y at %I:%M%p")%></td>
      </tr>
         
    <% end %> 
  </table>
</div>
