<div class="leftSideLayout">
  <% if current_user.deal_builders.count > 0 %>
      <% @dbpcount = 0 %>
      <% current_user.deal_builders.each do |db| %>
        <% if db.db_publish then @dbpcount += 1 end %>
      <% end %>
      <% if @dbpcount == current_user.deal_builders.count %>
  <h1><div class='blueGreenLink' style='text-align:center'> <%= link_to 'Create a New Offer', new_deal_builder_path %> </div></h1>
      <% else %>
       <div id="incompleteOfferHeader">Incomplete Offers</div>
      <% checkLiveDeals('to pass the time', 'db_index') %>
      <% @dealBuilders = DealBuilder.where(:user_id => current_user) %>
      <!-- only use incomplete deals here -->
      <% @dealBuilders.delete_if {|d| DbPublish.find_by_deal_builder_id(d.id)} %>
      <% @count = 0 %>
  <% @dealBuilders.reverse.each do |deal_builder| %>
    <% if @count > 4 then break end %>
    <% @count += 1 %>
    <div id="oneOfferView" onclick="window.location = '<%= deal_builder_path(deal_builder) %>'">
      <div id="offerTitleOfferView">
        <%= deal_builder.db_step_one.offer_title %>
        <%= link_to 'd' , deal_builder, :method => :delete %>
      </div>
      <div id="stepsOfferViewHolder">
       <% unless deal_builder.db_step_four %>
          <div id="stepsOfferViewCompleted">1</div>
        <% if deal_builder.db_step_two %>
          <div id="stepsOfferViewCompleted">2</div>
        <% else %>
          <div id="stepsOfferViewNotCompleted">2</div>
        <% end %>
        <% if deal_builder.db_step_three %>
          <div id="stepsOfferViewCompleted">3</div>
        <% else %>
          <div id="stepsOfferViewNotCompleted">3</div>
        <% end %>
          <div id="stepsOfferViewNotCompleted">4</div>
        <% else %>
        PUBLISH NOW
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @count < @dealBuilders.length %>
    <div id='restOfDealBuilders' style='display:none'>
    <% @restOfDBs = @dealBuilders.reverse[@count..@dealBuilders.length] %>
    <% @restOfDBs.each do |deal_builder| %>
      <div id="oneOfferView" onclick="window.location = '<%= deal_builder_path(deal_builder) %>'">
      <div id="offerTitleOfferView">
        <%= deal_builder.db_step_one.offer_title %>
        <%= link_to 'd' , deal_builder, :method => :delete %>
      </div>
      <div id="stepsOfferViewHolder">
       <% unless deal_builder.db_step_four %>
          <div id="stepsOfferViewCompleted">1</div>
        <% if deal_builder.db_step_two %>
          <div id="stepsOfferViewCompleted">2</div>
        <% else %>
          <div id="stepsOfferViewNotCompleted">2</div>
        <% end %>
        <% if deal_builder.db_step_three %>
          <div id="stepsOfferViewCompleted">3</div>
        <% else %>
          <div id="stepsOfferViewNotCompleted">3</div>
        <% end %>
          <div id="stepsOfferViewNotCompleted">4</div>
        <% else %>
        PUBLISH NOW
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
   <div id="moreOfferViewLink">
    VIEW ALL 
   </div>
   <div id="hideOfferViewLink" style="display:none;">
    HIDE
   </div>
  <% end %>
  <% end %>
<% else %>
  <h1><div class='blueGreenLink' style='text-align:center'> <%= link_to 'Create a New Offer', new_deal_builder_path %> </div></h1>
<% end %>
<% @at_least_one_db_publish = false %>
<% current_user.deal_builders.each do |db| %>
  <% if db.db_publish then @at_least_one_db_publish = true end%>
<% end %>
<%unless current_user.deal_builders.count == 0 || !@at_least_one_db_publish %>
      <hr />
      <table>
       <th><tr><h1> Live Offers</h1></tr></th>
    <% current_user.deal_builders.each do |deal_builder| %>
     <% if deal_builder.db_publish %>
       <tr>
          <td class="formTipLink"><%= link_to deal_builder.db_step_one.offer_title, deal_builder %></td>
            <% if deal_builder.db_publish.private_deal == 'yes' %>
              <td class="formTipLink"><%= link_to 'View/Add Private Deal Codes' , private_deal_codes_path(:id => deal_builder.db_publish.id)%></td>
            <%end %> 
       </tr> 
     <% end %>
    <% end %>
      <% if @a_db_publish == 0 %>
        <tr><td style='text-align:center;'>No live deals at the moment</td></tr>
      <% end %>
      </table>
<% end %>
</div>

<div class='rightSideLayout'>
  Game theory and Deal/Coupon statistics will go here
</div>
<% if current_user.prev_publishes.count > 0 %>
<div class='leftSideLayout'>
  <div class='blueGreenLink' style='text-align:center;'><%= link_to 'View Your Past Deals', prev_publishes_path %></div>
</div>
<% end %>
