<% same_user?(@deal_builder.id) %>
<p id="notice"><%= notice %></p>
<div class="leftSideLayout">
    <div class='dbClickOne'>Basics</div>
    <div class='dbClickTwo'>Location</div>
    <div class='dbClickThree'>Restrictions</div>
    <div class='dbClickFour'>Incentives</div>
</div>
<% if @deal_builder.db_step_four %>
  <div class="rightSideLayout">
  <% unless @deal_builder.db_publish %>
     <div class='blueGreenLink' style="text-align:center;font-size:30px;padding-top:20px;padding-bottom:20px;">
      <%= link_to 'Publish Now!', new_db_publish_path(:db_id => @deal_builder.id) %></div> 
    </div>
  <% else %>
    <% checkLiveDeals(@deal_builder.db_publish.id,'db_show') %>
    <p id="notice"><%= notice %></p>

    <h1>DEAL LIVE</h1>
    <p>
      <% if @deal_builder.db_publish.max_vouchers_to_sell == 0 %>
      Unlimited
    <%else %>
      <b>Vouchers Left:</b>
      <%= @deal_builder.db_publish.max_vouchers_to_sell - @deal_builder.db_publish.total_vouchers_sold%>
    <% end %>
    </p>

    <p>
      <% if @deal_builder.db_publish.length_of_deal == 0%>
        Until Stopped
      <% else %>
        <b>Time Left</b>
        <script>
          $(document).ready(function() {
          var endOfDeal = new Date();
          var days = <%= j @deal_builder.db_publish.length_of_deal%>
          endOfDeal = new Date(endOfDeal.getFullYear(),endOfDeal.getMonth(),endOfDeal.getDate() + days,endOfDeal.getHours());
          $('#countdown').countdown({until:endOfDeal});
          });
        </script>
        <div id='countdown'></div>
      <% end %>
    </p>


  <div class='blueGreenLink' style='text-align:center;'>
    <%= link_to 'Stop', @deal_builder.db_publish, :confirm => 'Are you sure you want to stop this promotion?',:method=>:delete %> 
    <%= link_to 'Preview',@deal_builder.db_publish %>
  </div>
</div>
    <% end %>   

<div class="leftSideLayout">
<div class='show_deal_builder'>
<div class='dbShowOne'>
<%= render :template => 'db_step_ones/show', :object => (@db_step_one = @deal_builder.db_step_one) %>
</div>
<% if @deal_builder.db_step_two %>
<div class='dbShowTwo'>
  <%= render :template => 'db_step_twos/show', :object => (@db_step_two = @deal_builder.db_step_two) %>
</div>
   <% if @deal_builder.db_step_three %>
<div class='dbShowThree'>
     <%= render :template => 'db_step_threes/show', :object => (@db_step_three = @deal_builder.db_step_three) %>
</div>
     <% if @deal_builder.db_step_four %>
<div class='dbShowFour'>
       <%= render :template => 'db_step_fours/show', :object => (@db_step_four = @deal_builder.db_step_four) %>
</div>
     <% end %>
   <% end %>
<% end %> 

<br />
</div>
</div>
    <% if @deal_builder.db_publish && @deal_builder.db_publish.private_deal == 'yes' %>
      <div class='rightSideLayout'>
        <div class='blueGreenLink' style='text-align:center;'>
          <%= link_to 'Private Offer Codes', private_deal_codes_path(:id => @deal_builder.db_publish.id) %>
        </div>
      </div>
    <% end %>   
    <% end %>   
 <% if @deal_builder.db_publish %>
 <div class='rightSideLayout'>
   Offer Link: http://offerglass.com/live/<%= @deal_builder.db_publish.id %>
 </div>
<% end %>
