<%= content_for :rightlayout do %>
<p id="notice"><%= notice %></p>

<%= render :template => 'db_step_ones/show', :object => (@db_step_one = @deal_builder.db_step_one) %>
<% if @deal_builder.db_step_two %>
  <%= render :template => 'db_step_twos/show', :object => (@db_step_two = @deal_builder.db_step_two) %>
   <% if @deal_builder.db_step_three %>
     <%= render :template => 'db_step_threes/show', :object => (@db_step_three = @deal_builder.db_step_three) %>
     <% if @deal_builder.db_step_four %>
       <%= render :template => 'db_step_fours/show', :object => (@db_step_four = @deal_builder.db_step_four) %>
     <% end %>
   <% end %>
<% end %> 

<br />
<%= link_to 'Back', deal_builders_path %>
<% end %>
