<%= content_for :rightlayout do %>
<p id="notice"><%= notice %></p>
<div class="leftSideLayout">
    <div class='dbClickOne'>Basics</div>
    <div class='dbClickTwo'>Location</div>
    <div class='dbClickThree'>Restrictions</div>
    <div class='dbClickFour'>Incentives</div>
</div>
<div class="leftSideLayout">

<div class='show_deal_builder'>
<div class='dbShowOne'>
<%= render :template => 'db_step_ones/show', :object => (@db_step_one = @deal_builder.db_step_one) %>
</div>
<% if @deal_builder.db_step_two %>
<div class='dbShowTwo'>
  <%= render :template => 'db_step_twos/show', :object => (@db_step_two = @deal_builder.db_step_two) %>
</div>
   <% if @deal_builder.db_step_three %>
<div class='dbShowThree'>
     <%= render :template => 'db_step_threes/show', :object => (@db_step_three = @deal_builder.db_step_three) %>
</div>
     <% if @deal_builder.db_step_four %>
<div class='dbShowFour'>
       <%= render :template => 'db_step_fours/show', :object => (@db_step_four = @deal_builder.db_step_four) %>
</div>
     <% end %>
   <% end %>
<% end %> 

<br />
</div>
</div>
<% end %>
