<% if same_user?(@deal_builder.id,'db') %>
  <div class='show_deal_builder' >
   <div id='leftFreeLayout'>
    <%= render 'draw_offer_info', :object => @deal_builder = @deal_builder %>
    </div>
  </div>
  <% unless @deal_builder.db_publish %>
    <div id='rightFreeLayout' style='margin-top:100px;'>
     <%if @deal_builder.db_step_four %>
       <div class='dbShowLinksContainer' onclick="window.location =
         '<%= new_db_publish_path(:db_id => @deal_builder.id) %>'">
         <div class='dbShowLinksText'>
           Publish
         </div>
       </div>
       <%elsif @deal_builder.db_step_three %>
         <div class='dbShowLinksContainer' onclick="window.location =
           '<%= new_db_step_four_path(:db_id => @deal_builder.id) %>'">
           <div class='dbShowLinksText'>
            Finish Offer
           </div>
         </div>
       <% elsif @deal_builder.db_step_two %>
         <div class='dbShowLinksContainer' onclick="window.location =
           '<%= new_db_step_three_path(:db_id => @deal_builder.id) %>'">
           <div class='dbShowLinksText'>
            Finish Offer
           </div>
         </div>
       <% else %>
         <div class='dbShowLinksContainer' onclick="window.location =
           '<%= new_db_step_two_path(:db_id => @deal_builder.id) %>'">
           <div class='dbShowLinksText'>
            Finish Offer
           </div>
         </div>
       <% end %>
     <div class='dbShowDeleteStopContainer'>
       <div class='dbShowDeleteStopText'>
           <%= link_to 'DELETE OFFER' , @deal_builder, :method => :delete, :confirm => 'Are you sure you wish to delete this offer?' %>
       </div>
     </div>
    </div>
  <% else %>
    <% checkLiveDeals(@deal_builder.db_publish.id,'db_show') %>
    <div id='rightFreeLayout' style='margin-top:100px;'>

      <div class='dbShowLiveInfoContainer'>
        <div class='dbShowLiveInfoText'>
            Offer Link: http://offerglass.com/live/<%= @deal_builder.db_publish.id %>
        </div>
        <div class='dbShowLiveInfoText'>
          <% if @deal_builder.db_publish.length_of_deal == 0%>
            No Time Limit
          <% else %>
            <% @endTime = @deal_builder.db_publish.created_at %>
            <% @endTime += @deal_builder.db_publish.length_of_deal.days %>
            <script>
              $(document).ready(function() {
              var endTimeSeconds = <%= @endTime.to_i %>;
              var endTimeDate = new Date(Number(endTimeSeconds) * 1000);
              $('#countdown').countdown({until:endTimeDate});
              });
            </script>
            <div id='countdown'></div>
            <br />
          <% end %>
        </div>
        <div class='dbShowLiveInfoText' >
          <% if @deal_builder.db_publish.max_vouchers_to_sell == 0 %>
            No Voucher Limit 
          <%else %>
            <%= @deal_builder.db_publish.total_vouchers_sold %> of 
            <%= @deal_builder.db_publish.max_vouchers_to_sell%> Vouchers Purchased
          <% end %>
        </div>
      </div>

      <div class='dbShowLinksContainer' onclick="window.location =
         '<%= db_publish_path(@deal_builder.db_publish) %>'">
         <div class='dbShowLinksText'>
          View Live Offer 
         </div>
       </div>
      <div class='dbShowDeleteStopContainer'>
       <div class='dbShowDeleteStopText'>
        <%= link_to 'STOP OFFER', @deal_builder.db_publish, :confirm => 'Are you sure you want to stop this offer?',:method=>:delete %> 
       </div>
     </div>
 </div>


    <% if @deal_builder.db_publish && @deal_builder.db_publish.private_deal == 'yes' %>
        <div class='blueGreenLink' style='text-align:center;'>
          <%= link_to 'Private Offer Codes', private_deal_codes_path(:id => @deal_builder.db_publish.id) %>
        </div>
    <% end %>   
  <% end #end of unless @deal_builder.db_publish%>   
<% else %>
			  <%= render :partial => 'layouts/noaccess'%>	
<% end %>

