<%= form_for(@incentive_idea) do |f| %>
  <% if @incentive_idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incentive_idea.errors.count, "error") %> prohibited this incentive_idea from being saved:</h2>

      <ul>
      <% @incentive_idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => '20' %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '30x5' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
