<div class="leftSideLayout">
<h1>Incentive Ideas</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incentive_ideas.each do |incentive_idea| %>
  <tr>
    <td><%= incentive_idea.title %></td>
    <td><%= incentive_idea.description %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="formTipLink"><%= link_to 'Edit', edit_incentive_idea_path(incentive_idea) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="formTipLink"><%= link_to 'Destroy', incentive_idea, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="blueGreenLink"><%= link_to 'Add Incentive idea', new_incentive_idea_path %></div>
</div>
