
<div class='row-fluid'>
<div class='span8'>
<h1>Community Offers </h1>
</div>
<h2> <%= link_to 'About Our Non-Profit Partners', list_path%> </h2>
</div>
<br />
<% @liveOffers.each do |l| %>
  <div class='row-fluid'>
  <div class='span12'>
  <div class='well' style ='height:110px;'>
      <div class='span2'>
        <%= image_tag l.photo.url(:thumb) %>
      </div>
      <div class='span9'>
        <h2 style='display:inline'><%= l.headline%></h2>
        <% if l.date_string %>
          <h4> Offer Running <%= l.date_string %> </h4>
        <% end %>
        <br />
        <h5>Provided by <%= Business.find(l.business_id).name %></h5>
      </div>
      <div class='span3 offset6'>
      <%= link_to 'Get Your Donation Code Now!', live_offer_path(l), :class => 'btn btn-success'%>
      </div>
  </div>
  </div>
  </div>
<% end %>
