<%= form_for (@db_step_one) , :html => {:multipart => true} do |f| %>
  <% if @db_step_one.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_step_one.errors.count, "error") %> prohibited this db_step_one from being saved:</h2>

      <ul>
      <% @db_step_one.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1>Step 1: The Basics </h1>
  <div class="field">
    <%= f.label :business_name %>
    <%= f.text_field :business_name %>
  </div>
  <div class="field">
    <%= f.label :company_logo %>
    <%= f.file_field :company_logo %>
  </div>
  <div class="field">
    <%= f.label :offer_title %>
    <%= f.text_field :offer_title %>
  </div>
  <div class="field">
    <%= f.label 'Offer photo (optional)' %>
    <%= f.file_field :offer_photo %>
  </div>
  <div>
  <%= f.label 'Industry:' %>
  <%= collection_select :db_step_one, :industry, Industry.all,:title,:title,
                        :prompt => 'Please select an Industry' %>
  </div>
  <div class="field">
    <%= f.label :offer_value %>
    <%= f.text_field :offer_value %>
  </div>
  <div class="field">
    <%= f.label :offer_price %>
    <%= f.text_field :offer_price %>
  </div>
  <div class="field">
    <%= f.label :offer_description %>
    <%= f.text_area :offer_description, :size => '30x5' %>
  </div>
  <div class="actions">
    <%= f.submit 'Save and Continue'%>
  </div>
<% end %>
