<%= form_for (@db_step_one) , :html => {:multipart => true} do |f| %>
  <noscript>
  <% if @db_step_one.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_step_one.errors.count, "error") %> prohibited this db_step_one from being saved:</h2>

      <ul>
      <% @db_step_one.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 </noscript>

<div class='formHeader'>The Basics</div>
<div class ="leftSideLayout">
<table id="dealBuilder">


  <tr>
    <td class="dealBuilderLabel" id="offer_title_label"><%= f.label :offer_title, "Offer Title" %></td>
    <td class="dealBuilderField"><%= f.text_field :offer_title %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="offer_description_label"><%= f.label :offer_description, "Offer Description" %></td>
    <td class="dealBuilderField"><%= f.text_area :offer_description, :size => '30x3' %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="offer_photo_label"><%= f.label 'Offer Photo (Optional)' %></td>
    <td class="dealBuilderField"><%= f.file_field :offer_photo %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>
<table id='dealBuilder'>
  <tr >
    <!--<td><div style='display:inline;margin-left:20px;' #rubycode check_box(:db_step_one,:coupon,{},'yes','no') # Is this a coupon?</div></td> -->

    <td class="dealBuilderLabel" id="offer_price_label" style='width:117px'><%= f.label :offer_price, "Offer Price" %></td>
    <td class="dealBuilderField"><%= f.text_field :offer_price, "size" => 6 %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="offer_value_label"><%= f.label :offer_value, "Offer Value" %></td>
    <td class="dealBuilderField"><%= f.text_field :offer_value, "size" => 6 %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>
</table>
    <% if @deal_builder_id %>
       <%= f.hidden_field :deal_builder_id , :value => @deal_builder_id %>
    <% end %>
  <div class="actions" style="float:right;">
    <%= f.submit 'Forward'%>
  </div>
</div>
<div class="rightSideLayout" style='display:none'>
  <table class="stepOneTips">
    <tr id="offer_title" style='display:none'> 
      <td><%=FormTip.find_by_title("offer title").description %></td>
    </tr>
    <tr id="offer_photo" style='display:none'> 
      <td><%=FormTip.find_by_title("offer photo").description %></td>
    </tr>
    <tr id="offer_value" style='display:none'> 
      <td><%=FormTip.find_by_title("offer value").description.gsub("\n",'<br>').html_safe() %></td>
    </tr>
    <tr id="offer_price" style='display:none'> 
      <td><%=FormTip.find_by_title("offer price").description %></td>
    </tr>
    <tr id="offer_description" style='display:none'> 
      <td><%=FormTip.find_by_title("offer description").description.gsub("\n",'<br>').html_safe() %></td>
    </tr>
</table>
</div>
<div class="rightSideLayout" id='additionalRSL' style='display:none'>
   <table class='stepOneTips'>
    <tr id="additional_offer_description" style='display:none'> 
      <td><%=FormTip.find_by_title("additional offer description").description.gsub("\n",'<br>').html_safe() %></td>
    </tr>
   </table>
</div>
<div class="progressBar">
  <div class="currentProgress">
    <%= image_tag("/images/theme/blueBorderonlyCircle.png") %>
  </div>
  <div class="forwardProgress">
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
  </div>
</div>
<% end %>
