<%= form_for (@db_step_one) , :html => {:multipart => true} do |f| %>
  <noscript>
  <% if @db_step_one.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_step_one.errors.count, "error") %> prohibited this db_step_one from being saved:</h2>

      <ul>
      <% @db_step_one.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 </noscript>

<div class ="leftSideLayout">
<table id="dealBuilder">

  <tr>
    <td class="dealBuilderLabel" id="business_name_label"><b><%= f.label :business_name, "Business Name" %></b></td>
    <td class="dealBuilderField"><%= f.text_field :business_name %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="company_logo_label"><b><%= f.label "Company Logo (Optional)" %></b></td>
    <td class="dealBuilderField"><%= f.file_field :company_logo %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="offer_title_label"><b><%= f.label :offer_title, "Offer Title" %></b></td>
    <td class="dealBuilderField"><%= f.text_field :offer_title %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="offer_photo_label"><b><%= f.label 'Offer Photo (Optional)' %></b></td>
    <td class="dealBuilderField"><%= f.file_field :offer_photo %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="industry_label"><b><%= f.label 'Industry' %></b></td>
    <td class="dealBuilderField"><%= collection_select :db_step_one, :industry, Industry.all,:title,:title,
                        :prompt => 'Please select an Industry' %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="offer_description_label"><b><%= f.label :offer_description, "Offer Description" %></b></td>
    <td class="dealBuilderField"><%= f.text_area :offer_description, :size => '30x3' %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="offer_value_label"><b><%= f.label :offer_value, "Offer Value" %></b></td>
    <td class="dealBuilderField"><%= f.text_field :offer_value %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

  <tr>
    <td class="dealBuilderLabel" id="offer_price_label"><b><%= f.label :offer_price, "Offer Price" %></b></td>
    <td class="dealBuilderField"><%= f.text_field :offer_price %></td>
    <td></td>
  </tr>
  <tr><td></td></tr>

</table>
  <div class="actions">
    <%= f.submit 'Save and Continue'%>
  </div>
</div>
<div class="rightSideLayout">
  <table class="stepOneTips">
    <tr id="business_name"> 
      <td><%=FormTip.find_by_title("business name").description %></td>
    </tr>
    <tr id="company_logo"> 
      <td><%=FormTip.find_by_title("company logo").description %></td>
    </tr>
    <tr id="offer_title"> 
      <td><%=FormTip.find_by_title("offer title").description %></td>
    </tr>
    <tr id="offer_photo"> 
      <td><%=FormTip.find_by_title("offer photo").description %></td>
    </tr>
    <tr id="industry"> 
      <td><%=FormTip.find_by_title("industry").description %></td>
    </tr>
    <tr id="offer_value"> 
      <td><%=FormTip.find_by_title("offer value").description %></td>
    </tr>
    <tr id="offer_price"> 
      <td><%=FormTip.find_by_title("offer price").description %></td>
    </tr>
    <tr id="offer_description"> 
      <td><%=FormTip.find_by_title("offer description").description %></td>
    </tr>
</table>
</div>
<div class="progressBar">
  <div class="currentProgress">
    <%= image_tag("/images/theme/blueBorderonlyCircle.png") %>
  </div>
  <div class="forwardProgress">
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
    <%= image_tag("/images/theme/greenBorderonlyCircle.png") %>
  </div>
</div>
<% end %>
