<%= form_for (@db_step_one) , :html => {:multipart => true} do |f| %>
  

<div class='formHeader'>The Basics
<!--<div class="progressBar">
  <div class="currentProgress">
     image_tag("/images/theme/blueBorderonlyCircle.png") %>
  </div>
  <div class="forwardProgress">
     image_tag("/images/theme/greenBorderonlyCircle.png") %>
     image_tag("/images/theme/greenBorderonlyCircle.png") %>
     image_tag("/images/theme/greenBorderonlyCircle.png") %>
  </div>
</div> -->
</div>
<br />
<div id="dealBuilderContainer">

    <div class="dealBuilderField"><%= f.text_field :offer_title, :placeholder => "Offer Title" %></div>

    <div class="dealBuilderField"><%= f.text_area :offer_description, :placeholder => "Offer Description" %></div>

<!--     <div id='dbOnePhotoInfoButton' style='display:inline;'> more</div> -->
    <!--<td><div style='display:inline;margin-left:20px;' #rubycode check_box(:db_step_one,:coupon,{},'yes','no') # Is this a coupon?</div></td> -->

    <div class="dealBuilderField"><%= f.text_field :offer_price,:placeholder => "Offer Price" %></div>

    <div class="dealBuilderField"><%= f.text_field :offer_value, :placeholder => "Offer Value" %></div>
    <div class="dealBuilderFileField"><%= f.file_field :offer_photo, :placeholder => "Offer Photo"%></div>
    <div class='dealBuilderFileMoreDivContainer' id='stepOneFileMoreDiv'><div class='dealBuilderFileMoreDivText'>?</div></div>

  <%= f.hidden_field :coupon, :value => 'no' %>
    <% if @deal_builder_id %>
       <%= f.hidden_field :deal_builder_id , :value => @deal_builder_id %>
    <% end %>
  <div class="dealBuilderSubmit" >
    <%= f.submit 'Forward'%>
  </div>
<div class='dbErrorContainer'>
<% if @db_step_one.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_step_one.errors.count, "Error") %> </h2>
     <ul>
      <% @db_step_one.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
</div>

<div class="formTipLayout" style='display:none'>
    <div id="offer_title" style='display:none'> 
      <%=FormTip.find_by_title("offer title").description %>
    </div>
    <div id="offer_photo" style='display:none'> 
      <%=FormTip.find_by_title("offer photo").description %>
    </div>
    <div id="offer_value" style='display:none'> 
      <%=FormTip.find_by_title("offer value").description.gsub("\n",'<br>').html_safe() %>
    </div>
    <div id="offer_price" style='display:none'> 
      <%=FormTip.find_by_title("offer price").description %>
    </div>
    <div id="offer_description" style='display:none'> 
      <%=FormTip.find_by_title("offer description").description %>
    </div>
</div>

<% end %>
