<% if same_user?(@db_step_one.deal_builder_id,'db') %>

<h1> The Basics </h1>
<br />
<div class='dbShowLeftContainer'>
<div>
  <div class='dbShowLabel'>Offer Title</div>
  <%= @db_step_one.offer_title %>
</div>
<br />
<div>
  <div class='dbShowLabel'>Offer Description</div>
  <%= @db_step_one.offer_description %>
</div>
</div>
<div class='dbShowRightContainer'>
<% if @db_step_one.offer_photo_file_name %>
  <%= image_tag(@db_step_one.offer_photo.url(:mediumthumb)) %> <br />
  $<%= @db_step_one.offer_value %> value for $<%= @db_step_one.offer_price %> 
<% else %>
  <%= image_tag('theme/default_offer_image_150.png') %> <br />
  $<%= @db_step_one.offer_value %> value for $<%= @db_step_one.offer_price %> 
<% end %>
</div>

<% end %>
