<% if same_user?(@db_step_one.deal_builder_id,'db') %>
<p id="notice"><%= notice %></p>

<h1> The Basics </h1>
<div>
  <b>Offer title:</b>
  <%= @db_step_one.offer_title %>
</div>
<div>
  <b>Offer description:</b>
  <%= @db_step_one.offer_description %>
</div>

<% if @db_step_one.offer_photo_file_name %>
<div>
  <b>Offer photo:</b>
  <%= image_tag(@db_step_one.offer_photo.url(:thumb)) %>
</div>
<% end %>
<% if @db_step_one.coupon == 'no' %>
<div>
  <b>Offer value:</b>
  <%= @db_step_one.offer_value %>
</div>
<div>
  <b>Offer price:</b>
  <%= @db_step_one.offer_price %>
</div>
<% else %>
<div>
This is a coupon
</div>
<% end %>

<% unless DealBuilder.find(@db_step_one.deal_builder_id).db_publish %>
  <div class='blueGreenLink' style='text-align:center;'><%= link_to 'Edit', edit_db_step_one_path(@db_step_one, :db_id => @db_step_one.deal_builder_id) %></div>
<% end %>
<% end %>
