<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
  <title>OfferGlass</title>
  <%= #stylesheet_link_tag :all 
       stylesheet_link_tag 'style.css'
%>
 <%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery-ui.min', 'jquery.min','jquery_ujs', 'jquery.validate.min','application' %>

  <%= csrf_meta_tag %>
</head>

<body>
  <% unless current_user then  %>
  <%= yield %>
  <% else %>
    <div id="layoutbanner">
         <div class="bannerlogo">
         <%= image_tag("theme/smallbannercroppedlogo.png") %>
         </div>
         <div class="bannerslogan">
         <%= image_tag("theme/smallbannercroppedslogan.png") %>
         </div>
         <div class="bannerbuttonscontainer">
           <div class="bannerbuttons">
             <%= button_to "Logout", logout_path, :method => :delete %>
           </div>
           <div class="bannerbuttons">
             <%= button_to "Settings", edit_user_path(session[:users_id]), :method => :get%>
           </div>
        </div>
    </div>
    <div id="content">
    <div id="leftlayout">
      <ul class="dash">
         <li class="fade_hover tooltip" title="" style="opacity: 1;">
           <a href=<%=deal_builders_path%>>
             <%= image_tag("theme/icons/dashboard/41.png") %>
             <span>Build Offer</span>
           </a>
         </li><br />
       <li class="fade_hover tooltip" title="" style="opacity: 1;">
         <a href="#">
            <%= image_tag("theme/icons/dashboard/2.png") %>
            <span>My Offers</span>
         </a>
  </li><br />
  <li class="fade_hover tooltip" title="" style="opacity: 1;">
  <a href="#">
    <%= image_tag("theme/icons/dashboard/66.png") %>
    <span>Distribute</span>
  </a>
  </li><br />
  <li class="fade_hover tooltip" title="" style="opacity: 1;">
  <a href="#">
    <%= image_tag("theme/icons/dashboard/43.png") %>
    <span>Track</span>
  </a>
  </li><br />

    </div>
    <div id="rightlayout">
    <%= yield :rightlayout%>
    </div>
    </div>
    <div id="footer">
       <div class="main_links">
       <b><%= link_to 'Contact Us', contact_contact_us_path %></b> 
       </div>
       <div class="main_links">
       <b><%= link_to 'Learning Center', learning_center_index_path %></b>
       </div>
       <div class="main_links">
       <b><%= link_to 'EULA', eula_index_path %></b>
       </div>
    </div>
<% end %>
</body>
</html>
