<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
  <title>OfferGlass</title>
  <%= #stylesheet_link_tag :all 
       stylesheet_link_tag 'style.css',"jquery-ui-1.8.15.custom.css"
%>
 <%= javascript_include_tag 'jquery','jquery-1.6.2.min','jquery-ui-1.8.15.custom.min',
 'jquery.validate.min','jquery.validate','jquery_ujs','nested_form','application' %>

  <%= csrf_meta_tag %>
</head>

<body>
  <% unless current_user then  %>
  <%= yield %>
  <% else %>
    <div id="layoutbanner">
         <div class="bannerlogo">
         <%= link_to image_tag("theme/smallbannercroppedlogo.png"),home_path %>
         </div>
         <div class="bannerslogan">
         <%= image_tag("theme/smallbannercroppedslogan.png") %>
         </div>
         <div class="bannerbuttonscontainer">
           <div class="bannerbuttons">
             <%= button_to "Logout", logout_path, :method => :delete %>
           </div>
           <div class="bannerbuttons">
             <%= button_to "Settings", edit_user_path(session[:users_id]), :method => :get%>
           </div>
           <div class="blueGreenLink">
             <b><%= link_to 'New Offer', new_deal_builder_path %></b>
           </div>
           <div class="blueGreenLink">
             <b><%= link_to 'My Offers', deal_builders_path %></b>
           </div>
           <div class="blueGreenLink">
             <b><%= link_to 'Distribute', '#' %></b>
           </div>
           <div class="blueGreenLink">
             <b><%= link_to 'Track', '#' %></b>
           </div>
        </div>
    </div>
    <div id="content">
    <%= yield :content %>
    <div id="leftlayout">
    <%= yield :leftlayout %>
    </div> 
    <div id="rightlayout">
    <%= yield :rightlayout%>
    </div>
    </div>
    <div id="footer">
       <div class="main_links">
       <b><%= link_to 'Contact Us', contact_contact_us_path %></b> 
       </div>
       <div class="main_links">
       <b><%= link_to 'Learning Center', learning_center_index_path %></b>
       </div>
       <div class="main_links">
       <b><%= link_to 'EULA', eula_index_path %></b>
       </div>
    </div>
<% end %>
</body>
</html>
