<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
  <title>OfferGlass</title>
      <%= stylesheet_link_tag 'style.css',"jquery-ui-1.8.15.custom.css",'jquery.countdown.css'%>
 <%= javascript_include_tag 'jquery','jquery-1.6.2.min','jquery-ui-1.8.15.custom.min',
 'jquery.validate.min','jquery.validate','jquery_ujs','jquery.countdown','nested_form','application' %>

  <%= csrf_meta_tag %>
</head>

<body>
  <% unless current_user then  %>
    <%= yield %>
    <%= yield :rightlayout%>
  <% else %>
    <div id="layoutbanner">
        <div class="rightLinks">
           <div class="blueGreenLink">
             <%= link_to "Settings", edit_user_path(session[:users_id])%>
           </div>
           <div class="blueGreenLink">
             <%= link_to "Logout", logout_path, :method => :delete %>
           </div>
        </div>
        <div class="leftLinks">
           <div class="bannerlogo">
            <%= link_to image_tag("theme/smallbannercroppedlogo.png"),home_path %>
           </div>
           <div class="blueGreenLink">
             <b><%= link_to 'New Offer', new_deal_builder_path %></b>
           </div>
           <div class="blueGreenLink">
             <b><%= link_to 'My Offers', deal_builders_path %></b>
           </div>
           <div class="blueGreenLink">
             <b><%= link_to 'Distribute', '#' %></b>
           </div>
           <div class="blueGreenLink">
             <b><%= link_to 'Track', '#' %></b>
           </div>
        </div>
    </div>
    <div id="content">
    <div id="admin">
      <%= render :template => 'admin/index' %>
    </div>
    <div id="rightlayout">
    <%= yield %>
    </div>
    </div>
<% end %>
</body>
</html>
