<% if @voucher.redeemed == 'yes' %>
      <div class='redeemedVouchers' id='voucher<%=@voucher.id%>'>
    <% else %>
      <div class='unredeemedVouchers' id='voucher<%=@voucher.id%>'>
    <% end %>
    <div class='oneVoucherViewOff' id='oneVoucherView<%= @voucher.id%>'>
     <div id="oneVoucherLeftView">
          <%= @voucher.customer_email %>
     </div>
     <div id="oneVoucherRightView">
        <%= @voucher.code %>
     </div>
    </div>

    <div class="voucherRedeemAllColor" id="voucherRedeemLocContainer">
      <% if @voucher.redeemed == 'yes' %>
        <%= render 'unredeem', :object => @voucher = @voucher %>
      <% else %>
        <%= render 'redeem', :object => @voucher = @voucher %>
      <% end %>
      <!-- #render 'redeem', :object => @voucher = voucher -->
    </div>
    <br />
    <br />
    <br />
    <div class='offerInfo' id='offerInfo<%= @voucher.id%>' style='display:none;'>
    <%= render 'draw_offer_info', :object => @voucher = @voucher %>
    </div>
  </div>
