<%= form_for(@voucher) do |f| %>
  <% if @voucher.errors.any? %>
      <h2><%= pluralize(@voucher.errors.count, "error") %> </h2>

      <ul>
      <% @voucher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <div>
    Name*
    <br />
    <%= f.text_field :name%>
  </div>
  <div>
    Email*
    <br />
    <%= f.text_field :email%>
  </div>
  <div>
    Confirm Email*
    <%= f.text_field :email_confirmation%>
  </div>
  <div class="field">
    Select a Non-Profit* 
    <%= f.collection_select(:non_profit_id, NonProfit.all,:id,:title) %>
  </div>
  <div class="field">
    Note to Non-Profit
    <%= f.text_field :note, :placeholder => "Maximum 65 Characters" %>
  </div>
  <div class="field" style='padding-bottom:3px;'>
    <%= check_box_tag :email_list,'yes','yes' %> Receive Emails about future offers?
  </div>
   <%= f.hidden_field :offer_id, :value =>  @offer.id %>
  <div class="actions">
    <%= f.submit "Get Your Donation Code"%>
  </div>
<div style='font-size:10px;'>
* = Required Field.
</div>
<% end %>

