<% if current_user.vouchers.size == 0 %>
<div class='oneVoucher'>
  <div>Currently you have no vouchers to track!</div>
  <div class='blueGreenLink' style='display:inline; padding-right:20px;'><%= link_to 'Make a new deal!', new_deal_builder_path %></div>
  <div class='blueGreenLink' style='display:inline'><%= link_to 'View Your Deals', deal_builders_path %></div>
</div>
<% else %>

  <% current_user.vouchers.each do |voucher| %>
    <div class='oneVoucher' style='margin-top:20px;height:30px;'>
          <div class='voucherIndexField' style='float:left'><%= voucher.customer_email %></div>
          <div class='voucherIndexField'>Purchased On: <%= Date.parse(voucher.created_at.to_s) %></div>
          <div class='voucherIndexField'>Expires: <%= Date.parse(voucher.created_at.to_s) >> voucher.voucher_length %></div>
          <div class='voucherIndexField' ><%= link_to 'Remove', voucher, :method => :delete %></div>
          <div class='voucherIndexField' style='float:right;padding-right:5px;'><%= voucher.code %></div>
  
  <% end %>
<% end %>

