<% unless current_user %>
 <div id="layoutbanner">
         <div class="bannerlogo">
         <%= link_to image_tag("theme/smallbannercroppedlogo.png"),login_index_path %>
         </div>
</div>
<div class='purchasedVoucher'> 
  <h1>Thank you for your Purchase!</h1>
  <h2><b>Your Voucher Code:</b>
  <%= @voucher.code %></h2>
  <% @voucherCreatedAt = Date.parse(@voucher.created_at.to_s) %>
  <div style='font-size:x-small;'>
  <% unless @voucher.prev_publish_id.nil? %>
    <% @prev_publish = PrevPublish.find(@voucher.prev_publish_id) %>

    <b>Offer description:</b>
    <%= @prev_publish.offer_description %>

    <b>Offer price:</b>
    <%= @prev_publish.offer_price %>

    <b>Offer value:</b>
    <%= @prev_publish.offer_value %>

    <% if @prev_publish.all_locations == 'yes' %>
       Offer can be redeemed at all <%= DbStepZero.find_by_user_id(@voucher.user_id).business_name %> locations
    <% else %>
       <br />
       Offer can only be redeemed at<br />
    <%= @prev_publish.address %>,
    <%= @prev_publish.city %><br />
    <%= @prev_publish.state %>
    <%= @prev_publish.zip %></br />
    <% end %>

    <b>Restrictions:</b>
    <%= @prev_publish.restrictions %>

    This voucher is good until <%= @voucherCreatedAt >> @prev_publish.voucher_length %>

    <% if @prev_publish.incentive_ideas.size > 0 %>
    <b>Incentives:</b>
    <%= @prev_publish.incentive_ideas %>
    <% end %>

  <% else %>
    <% @deal_builder = DealBuilder.find(DbPublish.find(@voucher.db_publish_id).deal_builder_id) %>
    <% @one = @deal_builder.db_step_one %>
    <% @two = @deal_builder.db_step_two %>
    <% @three = @deal_builder.db_step_three %>
    <% @four = @deal_builder.db_step_four %>

    <b>Offer description:</b>
    <%= @one.offer_description %>

    <b>Offer price:</b>
    <%= @one.offer_price %>

    <b>Offer value:</b>
    <%= @one.offer_value %>

    <% if @two.include_all == 'yes' %>
       Offer can be redeemed at all <%= DbStepZero.find_by_user_id(@voucher.user_id).business_name %> locations
    <% else %>
       <br />
       Offer can only be redeemed at<br />
    <%= @two.locations[0].address %>,
    <%= @two.locations[0].city %><br />
    <%= @two.locations[0].state %>
    <%= @two.locations[0].zip %></br />
    <% end %>

    <b>Restrictions:</b>
    <% @three.standard_restrictions.each do |s_r| %>
      <div><%= s_r.description %></div>
    <% end %>
    <%= @three.optional_restriction %>

    This voucher is good until <%= @voucherCreatedAt >> @three.voucher_length %>

    <% if @four.optional_incentive.size > 0 %>
    <b>Incentives:</b>
    <%= @four.optional_incentive %>
    <% end %>
    <% if session[:fb_allow] %>
      <div>
      <b>Thanks for sharing, here's your incentive</b>
      <%= @four.fb_incentive_text %>
      </div>
    <% end %>
    
  <% end %>

<p>
  We will also send this voucher to <%= @voucher.customer_email %>
</p>
</div>

</div>
<% end %>
